@import "../../../../index.scss";

:host {
  width: fit-content;
  //margin: 1vw auto;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.auction-link__active {
  //background: $--fir;
  text-shadow: 0 0 3vw #000;
}

p.undefined {
  font-size: $--size3;
  color: #000000;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.2vw;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p.auction-data__header_button {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: $--brassica;
  border-radius: $--border-radius;
  color: white;
  box-sizing: border-box;
  padding: 0.4vw;
  font-size: $--size3;
  width: 70%;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}