@import "./docs/css/interface.scss";
@import "./docs/css/fonts.scss";
@import "./docs/css/media.scss";

section{
    height: auto;
footer{
    font-family: Roboto, serif;
@include fonts(4);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #343a40!important;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 2vw;
    z-index: 100000;
}
}
