<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>table</title>
</head>
<body>
<template class="upload">
    <div id="drop-area">
        <form class="my-form">
            <p>Загрузите файл с помощью диалогового окна или перетащите изображения в пунктирную область.</p>
          <div>
              <input type="file" id="fileElem" multiple  accept="application/msword, image" onchange="handleFiles(this.files)">
              <label class="button" for="fileElem">Выберете файл</label>
          </div>
        </form>
        <progress id="progress-bar" max=100 value=0></progress>
        <div id="gallery" /></div>
    </div>
    <p><slot name="varan-pictures"></slot></p>
</template>
</body>
</html>


