@import "../../../../index.scss";


:host {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

auction-button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  .button {
    position: absolute;
    border: none;
    box-shadow: 0 0 2vw 0.2vw rgba(0,0,0,0.1);
    background: $--fir;
    cursor: pointer;
    top: 0;
    right: 0;

    &:hover{
      color: #000;
      background-color: #ccc;
    }

    &:active {
      color: #000;
      background-color: #ccc;
    }
  }

  .xlarge {
    font-size: 3vw!important;
  }
  .circle {
    //border-radius: 50%;
    z-index: 2;
  }

  .edit{
    display: none;
  }

  p {
    display: flex;
    flex-direction: column;
  }
}
