<!--http://ice1.somafm.com/seventies-128-aac-->
<template>
    <div class="audio-newkind">
        <h1 class="audio-newkind__title">Rington Radio</h1>
        <form class="audio-newkind__form">
            <input type="radio" class="audio-newkind__radio" id="senventies" name="radio-selection" value="http://localhost:4444/audio" checked>
            <label for="senventies"><span></span>70's Radio</label>
            <input type="radio" class="audio-newkind__radio" id="eighties" name="radio-selection" value="http://ice1.somafm.com/u80s-128-aac">
            <label for="eighties"><span></span>80's Radio</label>
            <input type="radio" class="audio-newkind__radio" id="deep-space" name="radio-selection" value="http://ice1.somafm.com/deepspaceone-128-aac">
            <label for="deep-space"><span></span>Deep Space</label>
        </form>
        <canvas id="oscilloscope"></canvas>
        <button class="audio-newkind__btn" id="start">Start Audio</button>
    </div>

    <div id="playList">
        <div id="song">
            <ul>
                <li> one </li>
                <li> two </li>
                <li> three </li>
            </ul>
        </div>
        <div id="info">
            <div id="album"></div>
        </div>
    </div>
</template>