@import "./docs/css/interface.scss";
@import "./docs/css/fonts.scss";
@import "./docs/css/media.scss";


:host {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1vw;
}
