<template>
    <fieldset class="design">
        <legend>design</legend>
        <fieldset class="design-property">
            <legend>Property</legend>
        </fieldset>
        <fieldset class="design-property">
            <legend>Views</legend>
        </fieldset>
        <fieldset class="design-property">
            <legend>Relation</legend>
            <div class="design-relations"></div>
            <div class="design-ide">
                <slot name="page-external"></slot>
            </div>
        </fieldset>
    </fieldset>
</template>
