<template>
    <script type="module" src="/static/html/components/design-property-layout-main/design-property-layout-main.mjs" async></script>
    <div class="design-property-layout">
        <design-property-layout-main preset="index" slot="waves-game-user-customer">
            <page-external data-url="https://www.photopea.com/" data-height=80></page-external>
        </design-property-layout-main>
<!--        <div class="design-folder">-->
<!--            <slot name="web3-google"></slot>-->
<!--        </div>-->
    </div>
</template>
