<template>
    <fieldset class="design">
        <legend>design</legend>
        <fieldset class="design-property">
            <legend>Property</legend>
        </fieldset>
        <fieldset class="design-property" slot="design-property">
            <legend>Views</legend>
            <div class="design-property-views" slot="design-property-views">
                <div class="design-property-views-header">
                    <slot name="design-property-views-header"></slot>
                </div>
                <div class="design-property-views-body">
                    <slot name="design-property-views-body"></slot>
                </div>
                <div class="design-property-views-footer">
                    <slot name="design-property-views-footer"></slot>
                </div>
            </div>
        </fieldset>
        <fieldset class="design-property">
            <legend>Relation</legend>
            <div class="design-relations"></div>
            <div class="design-ide">
                <slot name="page-external"></slot>
            </div>
        </fieldset>
    </fieldset>
</template>
