<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>#codevember - 5 - Music</title>
    <link rel="stylesheet" href="styles/index.processed.css">
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
</head>

<body>
<div id="app" @mouseUp="unselectKnobs">

    <!--
      Knobs by Kyle Shanks:
      https://codepen.io/mavrK/details/erQPvP/
    -->
    <div class="knob-container">
        <div class="rela-block container">
            <div v-for="effect in effects" class="rela-inline effect-container" @mouseDown="effect.selected = true;">
                <div class="rela-block effect-label">
                    <div class="rela-inline effect-active-light" :style="{'background-color': effect.active?effect.color:'#888'}" @click="effect.active = !effect.active"></div>
                    {{effect.label}}
                </div>
                <div class="rela-block knob-container">
                    <div v-for="knob in effect.knobs" :class="['rela-inline', 'knob', 'style'+effect.knobStyle]">
                        <div class="rela-block knob-dial" :style="{'color':effect.active?effect.color:'#888'}">
                            <div class="abs-center dial-grip" :style="{'transform': 'translate(-50%,-50%) rotate('+knob.rotation+'deg)'}" @mouseDown.prevent="selectKnob(knob, $event);"></div>
                            <svg class="dial-svg" viewBox="0 0 100 100">
                                <path d="M20,76 A 40 40 0 1 1 80 76" fill="none" stroke="#55595C"/>
                                <path d="M20,76 A 40 40 0 1 1 80 76" fill="none" :stroke="effect.active?effect.color:'#888'"
                                      :style="{'stroke-dashoffset':184 - 184*((knob.rotation*1 + 132)/264)}"/>
                            </svg>
                        </div>
                        <div class="rela-block knob-label" :style="{'color':effect.active?'#E4E8EA':'#888'}">{{knob.label}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sequencer">
        <header>
            <h1>#codevember - 5 - Music</h1>
        </header>
        <div id="buttons">
            <button v-on:click="start" :disabled="isPlaying">▶️ Start</button>
            <button v-on:click="stop" :disabled="!isPlaying">⏹ Stop</button>
            <button v-on:click="rewind">⏪ Rewind</button>
            <button v-on:click="clear">🗑 Clear</button>
            <select v-model="oscillatorType">
                <option>sine</option>
                <option>square</option>
                <option>sawtooth</option>
                <option>triangle</option>
            </select>
        </div>
        <div v-for="(row, rowIndex) in notes">
        <span v-for="(note, noteIndex) in row">
          <label>
            <input type="checkbox" v-model="note.value" />
            <span :class="current === noteIndex ? 'current' : ''"></span>
        </label>
        </span>
        </div>
        <footer>
            <a href="https://twitter.com/DonKarlssonSan" target="_blank">Johan Karlsson</a>
            <p>
                Knobs by <a href="https://codepen.io/mavrK/pen/erQPvP" target="_blank">Kyle Shanks</a>
            </p>
        </footer>
    </div>
</div>
<script src="scripts/index.js"></script>
</body>
</html>
