<template>
<section>
    <div id = "graph">
        <div id="itemWavesEuro" class="itemBid">
            <label for="left"><input type="number" min="0" max="24000" id="left" value="100" /></label>
            <div class="content">
                <div class="info">
                    <p id="preview-left" class="preview"></p>
                    <div class="wrapper">
                        <div class="infoTimestamp">
                            <p>Time:</p>
                            <p id="wavesEuroTimestamp"></p>
                        </div>
                        <div class="infoTimestamp">
                            <p>Delta:</p>
                            <p id="wavesEuroDelta"></p>
                        </div>
                        <div class="result">
                            <div class="result-item fswe"></div>
                            <div class="result-item fbwe"></div>
                            <div class="result-item sbew"></div>
                            <div class="result-item sbwe"></div>
                        </div>
                        <hr/>
                        <button style="color: #7876f4" class="stat" id="fswe"></button>
                        <button style="color: #398c3b" class="stat" id="fbwe"></button>
                        <button style="color: #398c3b" class="stat" id="sbew"></button>
                        <button style="color: #d84141" class="stat" id="sbwe"></button>
                    </div>
                </div>
                <div id="wavesEuro" class="glass">
                    <div>
                        <p>Bids</p>
                        <div id="wavesEuroBid" class="bid">
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                        </div>
                    </div>
                    <div>
                        <p>Asks</p>
                        <div id="wavesEuroAsk" class="ask">
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="itemEuroUsd" class="itemBid">
            <label for="center"><input type="number" min="0" max="24000" id="center" value="100"  /></label>
            <div class="content">
                <div class="info">
                    <p id="preview-center" class="preview"></p>
                    <div class="wrapper">
                        <div class="infoTimestamp">
                            <p>Time: </p>
                            <p id="euroUsdTimestamp"></p>
                        </div>
                        <div class="infoTimestamp">
                            <p>Delta:</p>
                            <p id="euroUsdDelta"></p>
                        </div>
                        <div class="result">
                            <div class="result-item fbue"></div>
                            <div class="result-item fbeu"></div>
                            <div class="result-item sseu"></div>
                            <div class="result-item ssue"></div>
                        </div>
                        <hr/>
                        <button style="color: #d84141" class="stat" id="fbue"></button>
                        <button style="color: #d84141" class="stat" id="fbeu"></button>
                        <button style="color: #7876f4" class="stat" id="sseu"></button>
                        <button style="color: #7876f4" class="stat" id="ssue"></button>
                    </div>
                </div>
                <div id="euroUsd" class="glass">
                    <div>
                        <p>Bids</p>
                        <div id="euroUsdBid" class="bid">
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                        </div>
                    </div>
                    <div>
                        <p>Asks</p>
                        <div id="euroUsdAsk" class="ask">
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="itemWavesUsd" class="itemBid">
            <label for="right"><input type="number" min="0" max="24000" id="right" value="100"  /></label>
            <div class="content">
                <div class="info">
                    <p id="preview-right" class="preview"></p>
                    <div class="wrapper">
                        <div class="infoTimestamp">
                            <p>Time:</p>
                            <p id="wavesUsdTimestamp"></p>
                        </div>
                        <div class="infoTimestamp">
                            <p>Delta:</p>
                            <p id="wavesUsdDelta"></p>
                        </div>
                        <div class="result">
                            <div class="result-item fbwu"></div>
                            <div class="result-item fswu"></div>
                            <div class="result-item sbwu"></div>
                            <div class="result-item sbuw"></div>
                        </div>
                        <hr/>
                        <button style="color: #398c3b" class="stat" id="fbwu"></button>
                        <button style="color: #7876f4" class="stat" id="fswu"></button>
                        <button style="color: #d84141" class="stat" id="sbwu"></button>
                        <button style="color: #398c3b" class="stat" id="sbuw"></button>
                    </div>
                </div>
                <div id="wavesUsd" class="glass">
                    <div>
                        <p>Bids</p>
                        <div id="wavesUsdBid" class="bid">
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                        </div>
                    </div>
                    <div>
                        <p>Asks</p>
                        <div id="wavesUsdAsk" class="ask">
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="total"></div>
</section>
</template>