<template>
<!--     w = first-->
<!--     e = second-->
<!--     u = third-->
<section>
    <div class="count-main"></div>
    <div id = "graph">
        <div id="item_fs" class="bid_item">
            <label for="left"><input type="number" min="0" max="24000" id="left" value="10" /></label>
            <div class="content">
                <div class="info">
                    <p id="preview-left" class="preview"></p>
                    <div class="wrapper">
                        <div class="timestamp_info">
                            <p>Time:</p>
                            <p id="timestamp_fs"></p>
                        </div>
                        <div class="timestamp_info">
                            <p>Delta:</p>
                            <p id="delta_fs"></p>
                        </div>
                        <div class="result">
                            <div class="result-item fs_fs"></div>
                            <div class="result-item fb_fs"></div>
                            <div class="result-item sb_sf"></div>
                            <div class="result-item sb_fs"></div>
                        </div>
                        <hr/>
                        <button style="color: #7876f4" class="stat" id="fs_fs"></button>
                        <button style="color: #398c3b" class="stat" id="fb_fs"></button>
                        <button style="color: #398c3b" class="stat" id="sb_sf"></button>
                        <button style="color: #d84141" class="stat" id="sb_fs"></button>
                    </div>
                </div>
                <div id="fs" class="orderbook">
                    <div>
                        <p>Bids</p>
                        <div id="bid_fs" class="bid">
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                        </div>
                    </div>
                    <div>
                        <p>Asks</p>
                        <div id="ask_fs" class="ask">
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="item_st" class="bid_item">
            <label for="center"><input type="number" min="0" max="24000" id="center" value="10"  /></label>
            <div class="content">
                <div class="info">
                    <p id="preview-center" class="preview"></p>
                    <div class="wrapper">
                        <div class="timestamp_info">
                            <p>Time: </p>
                            <p id="timestamp_st"></p>
                        </div>
                        <div class="timestamp_info">
                            <p>Delta:</p>
                            <p id="delta_st"></p>
                        </div>
                        <div class="result">
                            <div class="result-item fb_ts"></div>
                            <div class="result-item fb_st"></div>
                            <div class="result-item ss_st"></div>
                            <div class="result-item ss_ts"></div>
                        </div>
                        <hr/>
                        <button style="color: #d84141" class="stat" id="fb_ts"></button>
                        <button style="color: #d84141" class="stat" id="fb_st"></button>
                        <button style="color: #7876f4" class="stat" id="ss_st"></button>
                        <button style="color: #7876f4" class="stat" id="ss_ts"></button>
                    </div>
                </div>
                <div id="st" class="orderbook">
                    <div>
                        <p>Bids</p>
                        <div id="bid_st" class="bid">
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                        </div>
                    </div>
                    <div>
                        <p>Asks</p>
                        <div id="ask_st" class="ask">
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="item_ft" class="bid_item">
            <label for="right"><input type="number" min="0" max="24000" id="right" value="10"  /></label>
            <div class="content">
                <div class="info">
                    <p id="preview-right" class="preview"></p>
                    <div class="wrapper">
                        <div class="timestamp_info">
                            <p>Time:</p>
                            <p id="timestamp_ft"></p>
                        </div>
                        <div class="timestamp_info">
                            <p>Delta:</p>
                            <p id="delta_ft"></p>
                        </div>
                        <div class="result">
                            <div class="result-item fb_ft"></div>
                            <div class="result-item fs_ft"></div>
                            <div class="result-item sb_ft"></div>
                            <div class="result-item sb_tf"></div>
                        </div>
                        <hr/>
                        <button style="color: #398c3b" class="stat" id="fb_ft"></button>
                        <button style="color: #7876f4" class="stat" id="fs_ft"></button>
                        <button style="color: #d84141" class="stat" id="sb_ft"></button>
                        <button style="color: #398c3b" class="stat" id="sb_tf"></button>
                    </div>
                </div>
                <div id="ft" class="orderbook">
                    <div>
                        <p>Bids</p>
                        <div id="bid_ft" class="bid">
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                        </div>
                    </div>
                    <div>
                        <p>Asks</p>
                        <div id="ask_ft" class="ask">
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                            <div class = item></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="total"></div>
</section>
</template>