<template>
    <section id="vk">
        <div id="page_body" class="fl_r " style="width: 795px;">
            <div id="wrap_between"></div>
            <div id="wrap3">
                <div id="wrap2">
                    <div id="wrap1">
                        <div id="content" class="">
                            <div id="profile" class="profile_content">
                                <div class="wide_column_right">
                                    <div><slot name="social-vk-aside"></slot></div>
                                    <div class="wide_column_wrap">
                                        <div><slot name="social-vk-block-01"></slot></div>
                                        <div><slot name="social-vk-block-02"></slot></div>
                                        <div><slot name="social-vk-block-03"></slot></div>
                                        <div><slot name="social-vk-block-wall"></slot></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>