<!--<template>-->
<!--    <section id="provider">-->
<!--            <button class="js-login">Authorization</button><br>-->
<!--            <div class="explorer-link"></div><br><br>-->
<!--            <button class="js-invoke">Invoke Script</button><br>-->
<!--            <button class="js-data">Send Data</button>-->
<!--            <button class="js-transfer">Send Transfer</button>-->
<!--            <div id="log"></div>-->
<!--        -->
<!--    </section>-->
<!--</template>-->
<template>
    <fieldset id="waves-login">
        <legend>connections</legend>
        <div id="login">
            <div class="preview">
                <h2 class="preview">Create Account</h2>
                <div class="preview-wrapper">
                <span class="preview-span">
                    Set a single password for all your
                    <a href="https://zababurinsv.github.io" text-decoration="none" referrerpolicy="strict-origin" target="_blank" class="preview-a">zArt</a> accounts.
                </span>
                </div>
                <div class="account-create">
                    <label for="account-create">
                        Load Wallet
                    </label>
                    <input id="account-create" type="file">
                </div>
            </div>
            <div class="property">
                <div class="account-name">
                    <label for="account-name">
                        Name Wallet
                    </label>
                    <input id="account-name" type="text" placeholder="Enter name for wallet">
                </div>
                <div class="account-type">
                    <label for="account-type">
                        Select Type
                    </label>
                    <select id="account-type">
                        <option selected value="t">Test Net</option>
                        <option value="w">Main Net</option>
                    </select>
                </div>
            </div>
            <div class="form">
                <div class="form-password">
                    <label for="form-password">
                        Create password
                    </label>
                    <input id="form-password" type="password">
                    <svg viewBox="0 0 14 14" class="form-password">
                        <path fill="currentColor" fill-rule="evenodd" d="M7 2C3.818 2 1.1 3.866 0 6.5 1.1 9.134 3.818 11 7 11s5.9-1.866 7-4.5C12.9 3.866 10.182 2 7 2zm0 7.5c-1.756 0-3.182-1.344-3.182-3s1.426-3 3.182-3 3.182 1.344 3.182 3-1.426 3-3.182 3zm0-4.8c-1.056 0-1.91.804-1.91 1.8S5.945 8.3 7 8.3s1.91-.804 1.91-1.8S8.055 4.7 7 4.7z"></path>
                    </svg>
                    <div class="form-password-help">
                        must be at least 8 characters
                    </div>
                </div>
                <div class="form-confirm">
                    <label for="form-confirm">
                        Confirm password
                    </label>
                    <input id="form-confirm" type="password">
                    <svg viewBox="0 0 14 14" class="form-confirm">
                        <path fill="currentColor" fill-rule="evenodd" d="M7 2C3.818 2 1.1 3.866 0 6.5 1.1 9.134 3.818 11 7 11s5.9-1.866 7-4.5C12.9 3.866 10.182 2 7 2zm0 7.5c-1.756 0-3.182-1.344-3.182-3s1.426-3 3.182-3 3.182 1.344 3.182 3-1.426 3-3.182 3zm0-4.8c-1.056 0-1.91.804-1.91 1.8S5.945 8.3 7 8.3s1.91-.804 1.91-1.8S8.055 4.7 7 4.7z"></path>
                    </svg>
                </div>
            </div>
            <div class="policy">
                <div class="policy-wrapper">
                    <div class="policy-privacy">
                        <label cursor="pointer" for="policy-privacy">
                            <div class="policy-privacy-window"></div>
                            <input type="checkbox" id="policy-privacy" style="display: none">
                            <svg viewBox="0 0 14 14" class="policy-privacy-svg" display="none">
                                <g fill="currentColor" fill-rule="evenodd">
                                    <path fill="currentColor" d="M10.315 3.5L5.56 8.176 3.68 6.333 2.5 7.492 5.56 10.5l5.94-5.842z"></path>
                                </g>
                            </svg>
                            <span class="policy-privacy-span">I have read and agree with the&nbsp;</span>
                        </label>
                        <a href="https://waves.exchange/files/Privacy_Policy_Waves.Exchange.pdf" style="text-decoration:none; "  referrerpolicy="strict-origin" target="_blank" class="policy-privacy-href">Privacy policy</a>
                    </div>
                    <div class="policy-terms">
                        <label cursor="pointer" for="policy-terms">
                            <div class="policy-terms-window"></div>
                            <input type="checkbox" id="policy-terms" style="display: none">
                            <svg viewBox="0 0 14 14" class="policy-terms-svg" display="none">
                                <g fill="currentColor" fill-rule="evenodd">
                                    <path fill="currentColor" d="M10.315 3.5L5.56 8.176 3.68 6.333 2.5 7.492 5.56 10.5l5.94-5.842z"></path>
                                </g>
                            </svg>
                            <span class="policy-terms-span">I have read and agree with the&nbsp;</span>
                        </label>
                        <a href="https://waves.exchange/files/Terms_Of_Use_Waves.Exchange.pdf" style="text-decoration:none;"  referrerpolicy="strict-origin" target="_blank" class="policy-terms-href">Terms and Conditions</a>
                    </div>
                </div>
            </div>
            <div class="login">
                <div class="login-wrapper">
                    <button class="login-button">Sing up</button>
                    <div class="account-create-help">
                        ! ВАЖНО ! ДАННЫЕ НИГДЕ НЕ ХРАНЯТСЯ КРОМЕ ВАШЕГО КОМПЬЮТЕРА !
                    </div>
                    <div class="login-postview">
                    <span class="login-postview-span">
                        If you had an account, visit
                        <a href="https://waves.exchange" text-decoration="none" referrerpolicy="strict-origin" target="_blank" class="login-postview-href">
                            zArt
                        </a>
                        to restore it.
                    </span>
                    </div>
                    <div id="connecting">
                        <div class="connecting-cycle">AWAIT</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wallet"></div>
    </fieldset>
</template>
