<template><!--
    --><section><!--
        --><div class="preview"><!--
            --><p class="txt"><!--
                -->News<!--
                --></p><!--
            --></div><!--
        --><section id="news"><!--
            --><details class="item item_${i}" onclick="return false"><!--
                --><summary class="item_content"><!--
                    --><section  class="news"><!--
                                --><div class="hexagon"><!--
                                        --><img class="gallery" src="/static/html/components/lacerta-news/icons/no_image.jpg" alt ="photo"/><!--
                                        --></div><!--
                                --><div class="information"><!--
                                        --><h2 class="title"><!--
                                                                 -->Афиша<!--
                                            --></h2><!--
                                        --><h3 class="date">26.07.2019</h3><!--
                                        --><div class="short-content"><!--
                                            --><details class="content"><!--
                                                --><summary class="preview"><!--
                                                    -->Новости<!--
                                                    --></summary><!--
                                                --><div class="content"><!--
                                                  -->Новости<!--
                                                    --></div><!--
                                                --></details><!--
                                            --></div><!--
                                        --></div><!--
                                --></section><!--
                    --></summary><!--
                --><div class="menu"><!--
                                    --><button class="delete"> удалить </button><!--
                                    --><button class="change"> редактировать </button><!--
                    --></div><!--
                --></details><!--
            --></section><!--
    --></section><!--
--></template>
