@import "./scss/interface.scss";
@import "./scss/fonts.scss";
@import "./scss/media.scss";



@font-face {
  font-family: 'GothamPro';
  src: url('GothamPro-Regular.eot');
  src: url('GothamPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('GothamPro-Regular.woff') format('woff'),
  url('GothamPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:host{
  width: 100%;
  box-sizing: border-box;
  //padding: 0.4vw;
}
p {
  margin: 0;
  padding: 0;
}
canvas {
  width: 100%;
}
.design {
  &-property {
    //width: 97%;
  }

  &-relations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    &-item {
      min-width: content-box;
      width: 20vw;

      & > canvas {
        width: 100%;
      }
    }
  }

  &-ide {
    height: 48vw;
  }
}