<template>
    <section>
        <div class="leftGraphic">
            <slot name="lacerta-left"></slot>
        </div>
        <div class="center">
            <div>Google</div>
            <p class="dashboard"><a href="http://localhost:5000">Dashboard</a></p>
            <p><a href="http://localhost:5401">localhost</a></p>
            <p><a href="https://zababurinsv.github.io/authorization-google/">Web</a></p>
        </div>
        <div class="rightGraphic">
            <slot name="lacerta-right"></slot>
        </div>
    </section>
</template>


