section#exchange{box-sizing:border-box;padding:1vw}section#exchange div#top-cards aside.grid--cell{border:.2vw solid #7694f4;box-shadow:inset 0vw 0vw 1vw 0 #7694f4}
button.s-btn__vk{
    display: flex;
    justify-content: center;
    text-align: center;
}
button#submit-button{
    background-color: #7694f4;
}
button#authtorization{
    width: 100%;
    align-self: center;
    box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
    box-sizing: border-box;
    border: .1vw solid #acb2b5;
    margin: 0.3vw;
}