<template>
    <section>
        <div class ="preview">
            <p class ="preview">
                Gallery
            </p>
            <p class="graph"><slot name="lacerta-graphic"></slot></p>
        </div>
        <section>
            <div class ="item">
                <div class="hexagon">
                <a href="/photo">
                     <div id="gallery">
                             <img  class="gallery" src="/static/html/components/varan-gallery/icons/picture.png" alt = "photo">
                     </div>
                 </a>
                </div>
                <p class ="info">
                    Foto
                </p>
            </div>
            <div class ="item">
                <div class="hexagon">
                <video class="video" preload="auto" style="width: 100%;" poster="/static/html/components/varan-about/icon/video.png" alt = "video">
                     <source src="/static/html/components/varan-gallery/icons/full.mp4" type="video/mp4">
                     <source src="/static/html/components/varan-gallery/icons/preview.webm"  type="video/webm">
                 </video>
                </div>
                <p class ="info">
                    Video
                </p>
            </div>
        </section>


    </section>
</template>
