<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<template>
    <section>
        <div class="icon">
            <a><img src="./static/images/no_image.jpg"></a>
        </div>
        <details class="first">
            <summary class="first">
               <p>
                   Создание сертификата
               </p>
            </summary>
            <details class="second">
                <summary class="second">
                    <p>
                        Добавьте сертификат
                    </p>
                </summary>
                <form method="post" enctype="multipart/form-data" action="">
                    <label for="upload">Выберете<input type="file" id="upload"></label>
                    <span class="upload">Файл</span>

                </form>
            </details>
        </details>
        <details class="first">
            <summary class="first">
                <p>
                    создать рассылку
                </p>

            </summary>
            <details class="second">
                <summary class="second">
                    <p>
                        список рассылки
                    </p>

                </summary>
                <form method="post" enctype="multipart/form-data" action="">
                    <span id="mailing">Select your file</span>
                    <label for="file-upload">Browse<input type="file" id="file-upload"></label>
                    <label for="file-upload">Browse<input type="file" id="mail-upload"></label>
                </form>
            </details>
        </details>
        <details class="first">
            <summary class="first">Создание канала</summary>

<!--            <details class="second">-->
<!--                <summary class="second">title</summary>-->
<!--                <input required type="text" name="title" id="title" value="" placeholder="введите заголовок статьи">-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">id</summary>-->
<!--                <input required type="text" name="id" id="siteId" value="http://example.com/" placeholder="Введите название сайта">-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">link</summary>-->
<!--                <input required type="text" name="link" id="link" value="http://example.com/" placeholder="Введите название сайта">-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">language</summary>-->
<!--                <select name = 'language' required>-->
<!--                    <option>Ru</option>-->
<!--                    <option>En</option>-->
<!--                </select>-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">image</summary>-->
<!--                <form method="post" enctype="multipart/form-data" action="">-->
<!--                    <span class="filename">Select your file</span>-->
<!--                    <label for="image">Browse<input required type="file" id="image"></label>-->
<!--                </form>-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">favicon</summary>-->
<!--                <form method="post" enctype="multipart/form-data" action="">-->
<!--                    <span class="filename">Select your file</span>-->
<!--                    <label for="favicon">Browse<input type="file" id="favicon"></label>-->
<!--                </form>-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">copyright</summary>-->
<!--                <input type="text" name="copyright" id="copyright" value="" placeholder="Ф.И.О правообладателя">-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">updated</summary>-->
<!--                <span> дата обновления </span>-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">feedLinks</summary>-->
<!--                <input type="text" name="name" id="feed" value="https://example.com/json" placeholder="введите ссылку размещения">-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">author</summary>-->
<!--                <input required type="text" name="name" id="name" value="" placeholder="введите Ф.И.О автора">-->
<!--                <input required type="email" name="email" id="email" value="" placeholder="почта автора">-->
<!--                <input required type="text" name="link" id="linkAuthtor" value="" placeholder="ссылка на страницу автора">-->
<!--            </details>-->
            <details class="second">
                <summary class="second">Создать Канал</summary>
                <button class="create" type="button">create</button>
            </details>
        </details>

        <details class="first">
            <summary class="first">Создание новости</summary>

<!--            <details class="second">-->
<!--                <summary class="second">title</summary>-->
<!--                <input maxlength="30" required type="text" name="title" id="titleItem" value="" placeholder="введите заголовок статьи">-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">description</summary>-->
<!--                <textarea class="second" autofocus maxlength = 250 placeholder = "Анонс" required ></textarea>-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">id</summary>-->
<!--                <input required type="text" name="id" id="siteIdItem" value="http://example.com/" placeholder="Введите название сайта">-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">link</summary>-->
<!--                <input required type="text" name="link" id="linkItem" value="http://example.com/" placeholder="Введите название сайта">-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">language</summary>-->
<!--                <select name = 'language' required>-->
<!--                    <option>Ru</option>-->
<!--                    <option>En</option>-->
<!--                </select>-->
<!--            </details>-->
            <details class="second">
                <summary class="second">image</summary>
                <form method="post" enctype="multipart/form-data" action="">
                    <label for="image">Выберите изображение<input required type="file" id="image"></label>
                    <span class="filename"></span>
                </form>
            </details>
<!--            <details class="second">-->
<!--                <summary class="second">favicon</summary>-->
<!--                <form method="post" enctype="multipart/form-data" action="">-->
<!--                    <span class="filename">Select your file</span>-->
<!--                    <label for="favicon">Browse<input type="file" id="faviconItem"></label>-->
<!--                </form>-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">copyright</summary>-->
<!--                <input type="text" name="copyright" id="copyrightItem" value="" placeholder="Ф.И.О правообладателя">-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">updated</summary>-->
<!--                <span> дата обновления </span>-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">feedLinks</summary>-->
<!--                <input type="text" name="name" id="feedItem" value="https://example.com/json" placeholder="введите ссылку размещения">-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">author</summary>-->
<!--                <input required type="text" name="name" id="nameItem" value="" placeholder="введите Ф.И.О автора">-->
<!--                <input required type="email" name="name" id="emailItem" value="" placeholder="почта автора">-->
<!--                <input required type="text" name="name" id="linkAuthtorItem" value="" placeholder="ссылка на страницу автора">-->
<!--            </details>-->
<!--            <details class="second">-->
<!--                <summary class="second">Создать новость</summary>-->
<!--                <p>Ннапишите новость в редакторе</p>-->
<!--            </details>-->
        </details>
    </section>
</template>
</body>
</html>
