@import "./scss/interface.scss";
@import "./scss/fonts.scss";
@import "./scss/media.scss";

:host{
  width: 100%;
  box-sizing: border-box;
}

fieldset {
  margin: 0.4vw;
}

.item {
  @include display(column, nowrap, flex-start, center, stretch);
  padding: 0.4vw;

  .contract {
    @include display(row, nowrap, space-evenly, stretch, stretch);
    border: 0.2vw solid #d9ca6b;
    border-radius: 0.4vw;
    height: auto;
    flex-direction: column;
    &-users {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-customer {
        flex-grow: 0.4;
        padding: 0.4vw;
        box-sizing: border-box;
      }

      &-executor {
        flex-grow: 0.4;
        padding: 0.4vw;
        box-sizing: border-box;
      }
    }

    &-item {
      @include display(column, nowrap, flex-start, center, stretch);
      box-sizing: border-box;
      padding: 0.4vw;
      flex-grow: 1;

      &_property {
        padding: 0.4vw;
        height: 8vw;
        box-sizing: border-box;
      }

      &_input {
        padding: 0.4vw;
        margin: 0.4vw;
        height: 8vw;
        box-sizing: border-box;
      }
    }
  }
}

