<template>
    <section id="post-promise">
        <p>Objects</p>
        <div id="wrapper">
            <figure id="left">
                <div><img src="./static/html/components/post-promise/icons/arr.png" alt="promise"></div>
                <figcaption>Книга Арбениной</figcaption>
            </figure>
            <figure id="right">
                <div><img src="./static/html/components/post-promise/icons/joy.png" alt="promise"></div>
                <figcaption>Друг Совы</figcaption>
            </figure>
        </div>
    </section>
</template>
