<template>
    <section id="ton">
        <div>
            <div id="connect"></div>
            <div id="content">
                <div id="runmethod">
                    <input type="text" value="0:9a24bc42804a69c09c9b5109daaf2f8e1391cb0608a40e7e83679fccb96f9f09" placeholder="enter account address" class="runmethod">
                    <label class="runmethod" for="runmethod">Show Account</label>
                </div>
                <div id="help">
                    <input type="button" value="help" class="help">
                </div>
                <div id="time">
                    <input type="button" value="time" class="time">
                </div>
                <div id="name">
                    <input type="text" placeholder="enter wallet name" class="name">
                    <label class="name" for="name">Create Wallet</label>
                </div>
                <div id="address">
                    <input type="text" value="" placeholder="enter wallet name" class="address">
                    <label class="address" for="address">Show Address</label>
                </div>
                <div id="account">
                    <input type="text" value="" placeholder="enter account address" class="account">
                    <label class="account" for="account">Show Account</label>
                </div>
            </div>
            <div id="info">
                <label for="hidden">Console</label>
                <input type="checkbox" id="hidden" style="display: none">
                <input type="" value="erase" id="erase">
                <div id="last">
                    <input type="button" value="last" class="last">
                </div>
            </div>
            <div id="console"></div>
        </div>
    </section>
</template>
