<template>
    <section id="manager-deed">
        <div id="deed">
            <div id="deed-normal">
                <div id="deed-header">
                    <div id="preview">T I T L E&nbsp;&nbsp;D E E D</div>
                    <div id="deed-name"></div>
                </div>
                <table id="deed-table">
                    <tr class="preview">
                        <td colspan="2">
                            RENT $<span id="deed-baserent">12</span>.
                        </td>
                    </tr>
                    <tr>
                        <td>With 1 House</td>
                        <td>$ <span id="deed-rent1">60</span>.</td>
                    </tr>
                    <tr>
                        <td>With 2 Houses</td>
                        <td ><span id="deed-rent2">180</span>.</td>
                    </tr>
                    <tr>
                        <td>With 3 Houses</td>
                        <td ><span id="deed-rent3">500</span>.</td>
                    </tr>
                    <tr>
                        <td >With 4 Houses</td>
                        <td ><span id="deed-rent4">700</span>.</td>
                    </tr>
                    <tr>
                        <td class="options" colspan="2">
                            <div>With HOTEL $<span id="deed-rent5">900</span>.</div>
                            <div>Mortgage Value $<span id="deed-mortgage">80</span>.</div>
                            <div>Houses cost $<span id="deed-houseprice">100</span>. each</div>
                            <div>Hotels, $<span id="deed-hotelprice">100</span>. plus 4 houses</div>
                            <div>If a player owns ALL the Lots of any Color-Group, the rent is Doubled on Unimproved Lots in that group.</div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="deed-mortgaged">
                <div id="deed-mortgaged-name"></div>
                <p>&bull;</p>
                <div>MORTGAGED</div>
                <div> for $<span id="deed-mortgaged-mortgage">80</span></div>
                <p>&bull;</p>
                <div>Card must be turned this side up if property is mortgaged</div>
            </div>

            <div id="deed-special">
                <div id="deed-special-name"></div>
                <div id="deed-special-text"></div>
                <div id="deed-special-footer">
                    Mortgage Value
                    <span>$<span id="deed-special-mortgage">100</span>.</span>
                </div>
            </div>
        </div>
    </section>
</template>
