@import "./scss/interface.scss";
@import "./scss/fonts.scss";
@import "./scss/media.scss";

@mixin h3(){
  @include border();
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  text-align: center;
  font-family: Roboto, serif;
  @include fonts(3);
  text-align-last: left;
  margin: 0;
}
@mixin disabledSelect(){
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                               not supported by any browser */
}
@mixin disabledSelectText(){
  -webkit-user-select: text;   /* Chrome/Safari/Opera */
  -khtml-user-select: text;    /* Konqueror */
  -moz-user-select: text;      /* Firefox */
  -ms-user-select: text;       /* Internet Explorer/Edge */
  user-select: text;           /* Non-prefixed version, currently
                               not supported by any browser */
}
@mixin padding(){
  box-sizing: border-box;
  padding: 1vw;
}

@mixin border-bottom() {
  width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 0.25vw;
  text-align: center;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
}
@mixin border() {
  width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 0.25vw;
  border-radius: 0.5vw;
  text-align: center;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
}

@mixin sectionInput() {
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@mixin p(){
  @include border();
  margin: 1vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 2vw;
  text-align: center;
}

@mixin border() {
  width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;

}
@mixin figure(){
  @include display(column, nowrap, space-between, center, stretch);
  margin: 0;
  padding: 0;
  width: 100%;
  div.preview {
    font-family: Roboto,serif;
    margin-bottom: 0;
    @include fonts(4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 100%;
    text-align: -webkit-center;
    align-items: center;
    img{
      width: 100%;
      height: auto;
      //border: 0.3vw solid #8b8e4b;
      border-radius: 0.5vw;
      box-sizing: border-box;
      padding: 0;
    }
  }
  label[for="faucet"]{
    width: 100%;
    box-sizing: border-box;
    figcaption#preview{
        p{
          text-align-last: left;
        }

    }
    div.form-container {
      @include display(column, nowrap, space-evenly, center, stretch);
      margin-top: 2vw;
      padding: 1vw;
      box-sizing: border-box;
      width: 100%;
      div.field-container {
        @include display(column, nowrap, space-evenly, center, stretch);
        width: 100%;
        position: relative;
        box-sizing: border-box;
        div.item-name{
          @include display(column, nowrap, space-evenly, center, stretch);
          margin-bottom: 2vw;
          margin-top: 2vw;
          label[for="name"]{
            color: #232f62;
            font-family: Roboto,serif;
            @include fonts(16);
            align-self: start;
            padding-bottom: 1vw;
          }
          input#name{
            box-sizing: border-box;
            color: #232f62;
            font-family: Roboto, serif;
            @include fonts(16);
            padding: 0.5vw;
            border-radius: 0.5vw;
            width: 100%;
            border: 0.4vw solid #dcdcdc;
          }
        }
        div.cardnumber{
          @include display(column, nowrap, space-evenly, center, stretch);
          margin-bottom: 2vw;
          margin-top: 2vw;
          position: relative;
          label[for="cardnumber"]{
            color: #232f62;
            font-family: Roboto,serif;
            @include fonts(16);
            align-self: start;
            box-sizing: border-box;
            padding-bottom: 1vw;
          }
          input#cardnumber{
            box-sizing: border-box;
            color: #232f62;
            font-family: Roboto, serif;
            @include fonts(16);
            padding: 0.5vw;
            border-radius: 0.5vw;
            width: 100%;
            border: 0.4vw solid #dcdcdc;
          }
        }
        div.row{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 2vw;
          //background-color: aquamarine;
          box-sizing: border-box;
          align-self: stretch;
          div.expirationdate, div.securitycode{
            //position: relative;
            display: flex;
            flex-direction: column;
            text-align: start;
            align-items: start;
            //width: 100%;
            //margin-right: 4vw;
            label{
              //width: 100%;
              color: #232f62;
              text-align-last: left;
              font-family: Roboto,serif;
              margin-bottom: 1vw;
              @include fonts(16);
            }
            input{
              box-sizing: border-box;
              color: #232f62;
              font-family: Roboto,serif;
              @include fonts(16);
              padding: 0.5vw;
              border-radius: 0.5vw;
              border: 0.4vw solid #dcdcdc;
              width: 50%;
            }
            input#expirationdate{
              width: 100%;
            }
            input#securitycode{
              width: 100%;
            }
          }
          div.securitycode{
            text-align: -webkit-right;
            text-align: right;
            padding-left: 2vw;
          }
          //.expirationdate{
            //width: 120%;
          //}
        }
      }
      &:hover {
        color: #151515;
        @include fonts(4);
        //border: 0.3vw solid #151515;
        //padding: 0.4vw;
        border-radius: 0.5vw;
        //transition: 1s;
      }
    }
  }
}

:host{
  width: 100%;
  margin: auto;
}
section#waves-faucet{
  @include display(column, nowrap, space-evenly, center, stretch);
  //@include border();
  box-sizing: border-box;
  div#wrapper{
    @include display(row, nowrap, space-evenly, center, stretch);
    figure {
      @include figure();
    }
  }
  hr{
    box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
    height: 0.3vw;
    width: 100%;
  }
}


