@import "./docs/css/interface.scss";
@import "./docs/css/fonts.scss";
@import "./docs/css/media.scss";

section#waves-faucet div#wrapper figure label[for="faucet"] div.form-container div.field-container div.row div.expirationdate label, section#waves-faucet div#wrapper figure label[for="faucet"] div.form-container div.field-container div.row div.securitycode label {
  font-family: Roboto, serif;
  @include fonts(4);
}

section#waves-faucet div#wrapper figure label[for="faucet"] div.form-container div.field-container div.cardnumber label[for="cardnumber"]  {
  font-family: Roboto, serif;
  @include fonts(4);
}

section#waves-faucet div#wrapper figure label[for="faucet"] div.form-container div.field-container div.item-name label[for="name"] {
  font-family: Roboto, serif;
  @include fonts(4);
}

section#waves-faucet div#wrapper figure label[for="faucet"] div.form-container div.field-container div.item-name input#name  {
  font-family: Roboto, serif;
  @include fonts(4);
}
section#waves-faucet div#wrapper figure label[for="faucet"] div.form-container div.field-container div.cardnumber input#cardnumber {
  font-family: Roboto, serif;
  @include fonts(4);
}


section#waves-faucet div#wrapper figure label[for="faucet"] div.form-container div.field-container div.row div.expirationdate input, section#waves-faucet div#wrapper figure label[for="faucet"] div.form-container div.field-container div.row div.securitycode input  {
  font-family: Roboto, serif;
  @include fonts(4);
}

section#waves-faucet div#wrapper figure label[for="faucet"] div.form-container,
section#waves-faucet div#wrapper figure label[for="faucet"] div.form-container div.field-container div.item-name,section#waves-faucet div#wrapper figure label[for="faucet"] div.form-container div.field-container div.cardnumber,section#waves-faucet div#wrapper figure label[for="faucet"] div.form-container div.field-container div.row   {
  margin: 0;
  margin-bottom: 1vw;
}