<template>
    <section id="backend">
        <div class = "preview">
            <p class = "preview">
                Наши педагоги и наставники:
            </p>
        </div>
        <section class="main">
            <details class="adminMenu">
                <summary class="adminContent">
                    <div class ="item">
                        <div class="news">
                            <h2>
                                Богданова Екатерина Анатольевна
                            </h2>
                            <div class="short-content">
                                <details class="preview">
                                    <summary class="preview">Магистрант ВятГУ по направлению «Управление проектами и программами в образовании», учитель начальных классов МОАУ «Лицей №21» г. Кирова, руководитель волонтерского центра «ЧИЖ&ко» с 2015-2018</summary>
                                    <div class="content">
                                        <p>
                                            Проводила мастер-классы для учащихся и студентов в рамках дней открытых дверей ВятГУ и «Фестиваля Российской науки ВятГУ», помогала в проведении Всероссийской студенческой олимпиады  по педагогике «Педагогический старт».
                                        </p>
                                        <p>
                                            Волонтер-организатор  Международных сказочных игр на Вятке; регионального этапа Всероссийской  Робототехнической Олимпиады 2015;  Всемирного квеста «2194»
                                        </p>
                                    </div>
                                </details>
                            </div>
                        </div>
                        <div class="hexagon">
                            <img  class='moderator' src="/static/html/components/lacerta-moderator/icons/no_image.jpg" alt="moderator">
                        </div>
                    </div>
                </summary>
                <div class="menu">
                    <button class="delete"> удалить </button>
                    <button class="change"> изменить </button>
                </div>
            </details>
        </section>
    </section>
</template>
