:root {
  --brassica: #758a7a;
  --fir: #859d85;
  --Lime: #00ff00;
  --Coral: #d31919;
  --Thunderbird: #d31a1a;
  --Apricot: #efb769;
  --red-sand: #efb76a;
  --gap: 0.1vw;
  --images: 12vw;
  --card-width: 18vw;
  --border: 0.1vw;
  --margin: 2vw;
  --border-radius: 0.2vw;
  --margin-gap: 0.4vw;
  --padding-preview: 1vw;
  --margin-bottom: 1vw;

  --size1: 0.2vw;
  --size2: 0.6vw;
  --size3: 1vw;
  --size4: 1.4vw;
  --size5: 2vw;
  --size6: 2.4vw;
}

$--brassica: #758a7a;
$--fir: #859d85;
$--spanish-green: #869e86;
$--Lime: #00ff00;
$--Coral: #d31919;
$--Thunderbird: #d31a1a;
$--Apricot: #efb769;
$--red-sand: #efb76a;
$--porsche: #EFB76A;

$--images: 12vw;
$--card-width: 18vw;
$--border: 0.1vw;
$--margin: 2vw;
$--margin-1: 1vw;
$--border-radius: 0.2vw;
$--margin-gap: 0.4vw;
$--padding-preview: 1vw;
$--margin-bottom: 1vw;

$--size1: 0.2vw;
$--size2: 0.9vw;
$--size3: 1.1vw;
$--size4: 1.4vw;
$--size5: 2vw;
$--size6: 2.4vw;
$--gap: 0.1vw;

@mixin borderShadow() {
  box-shadow: 0 0 2vw 0.2vw rgba(0,0,0,0.1);
  border-radius: $--border-radius;
}

@mixin border() {
  position: relative;
  box-sizing: border-box;
  border: $--border solid $--spanish-green;
}

@mixin disabledSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                               not supported by any browser */
}

@mixin disabledSelectText() {
  -webkit-user-select: text;   /* Chrome/Safari/Opera */
  -khtml-user-select: text;    /* Konqueror */
  -moz-user-select: text;      /* Firefox */
  -ms-user-select: text;       /* Internet Explorer/Edge */
  user-select: text;           /* Non-prefixed version, currently */
}

body {
  overflow-x: hidden;
}

.skeleton-box {
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background-image: linear-gradient(
                      90deg,
                      rgba(#fff, 0) 0,
                      rgba(#fff, 0.2) 20%,
                      rgba(#fff, 0.5) 60%,
                      rgba(#fff, 0)
      );
      animation: shimmer 2s infinite;
      content: '';
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(192, 197, 204, 0.66);
      content: '';
    }

    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }