<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>external</title>
</head>
<body>
<div>ton-scan
    <section id="ton-scan">
        <script src='./static/html/components/ton-scan/ton-scan.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="social-vk">
        <script src='./static/html/components/social-vk/social-vk.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="social-instagram">
        <script src='./static/html/components/social-instagram/social-instagram.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="stack-exchange">
        <script src='./static/html/components/stack-exchange/stack-exchange.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="speech-synthesiser">
        <script src='./static/html/components/speech-synthesiser/speech-synthesiser.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="telegram-table">
        <script src='./static/html/components/telegram-table/telegram-table.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="telegram-speech">
        <script src='./static/html/components/telegram-speech/telegram-speech.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="audio-drums">
        <script src='./static/html/components/audio-drums/audio-drums.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="ring-ping">
        <script src='./static/html/components/ring-ping/ring-ping.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="telegram-sidebar-right-head">
        <script src='./static/html/components/telegram-sidebar-right-head/telegram-sidebar-right-head.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="telegram-sidebar-left">
        <script src='./static/html/components/telegram-sidebar-left/telegram-sidebar-left.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="telegram-sidebar-right">
        <script src='./static/html/components/telegram-sidebar-right/telegram-sidebar-right.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="telegram-page">
        <script src='./static/html/components/telegram-page/telegram-page.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="ton-client">
        <script src='./static/html/components/ton-client/ton-client.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="crypto-dex">
        <script src='./static/html/components/crypto-dex/crypto-dex.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="main-manager">
        <script src='./static/html/components/main-manager/main-manager.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="fiat-form">
        <script src='./static/html/components/fiat-form/fiat-form.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="waves-cart">
        <script src='./static/html/components/waves-cart/waves-cart.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="waves-balance">
        <script src='./static/html/components/waves-balance/waves-balance.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-json">
        <script src='./static/html/components/lacerta-json/lacerta-json.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-feed">
        <script src='./static/html/components/lacerta-feed/lacerta-feed.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="page-scroll">
        <script src='./static/html/components/page-scroll/page-scroll.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-gallery">
        <script src='./static/html/components/lacerta-gallery/lacerta-gallery.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-left">
        <script src='./static/html/components/lacerta-left/lacerta-left.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-right">
        <script src='./static/html/components/lacerta-right/lacerta-right.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-preview">
        <script src='./static/html/components/lacerta-preview/lacerta-preview.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-graphictwo">
        <script src='./static/html/components/lacerta-graphictwo/lacerta-graphictwo.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-graphic">
        <script src='./static/html/components/lacerta-graphic/lacerta-graphic.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-moderator">
        <script src='./static/html/components/lacerta-moderator/lacerta-moderator.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-infographics">
        <script src='./static/html/components/lacerta-infographics/lacerta-infographics.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-documents">
        <script src='./static/html/components/lacerta-documents/lacerta-documents.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-request">
        <script src='./static/html/components/lacerta-request/lacerta-request.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-news">
        <script src='./static/html/components/lacerta-news/lacerta-news.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-blockchain">
        <script src='./static/html/components/varan-blockchain/varan-blockchain.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-router">
        <script src='./static/html/components/lacerta-router/lacerta-router.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="waves-auth">
        <script src='./static/html/components/waves-auth/waves-auth.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-sidebar">
        <script src='/static/html/components/varan-sidebar/varan-sidebar.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-header">
        <script src='/static/html/components/varan-header/varan-header.mjs' async ></script>
     <component-action></component-action>
    </section>
    <section id="varan-preset">
        <script src='/static/html/components/varan-preset/varan-preset.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-pictures">
        <script src='/static/html/components/varan-pictures/varan-pictures.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-video">
        <script src='/static/html/components/lacerta-video/lacerta-video.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-crypto">
        <script src='/static/html/components/lacerta-crypto/lacerta-crypto.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-rss">
        <script src='/static/html/components/varan-rss/varan-rss.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-crop">
        <script src='/static/html/components/varan-crop/varan-crop.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-crop-tool">
        <script src='/static/html/components/varan-crop-tool/varan-crop-tool.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-pagination">
        <script src='/static/html/components/varan-pagination/varan-pagination.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-footer">
        <script src='/static/html/components/varan-footer/varan-footer.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-menu">
        <script src='/static/html/components/varan-menu/varan-menu.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="cell-index">
        <script src='/static/html/components/cell-index/cell-index.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-modal">
        <script src='/static/html/components/varan-modal/varan-modal.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-indexeddb">
        <script src='/static/html/components/varan-indexeddb/varan-indexeddb.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-graph">
        <script src='/static/html/components/lacerta-graph/lacerta-graph.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-input-material">
        <script src='/static/html/components/varan-input-material/varan-input-material.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-gallery">
        <script src='/static/html/components/varan-gallery/varan-gallery.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-editor-admin">
        <script src='/static/html/components/varan-editor-admin/varan-editor-admin.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-editor">
        <script src='/static/html/components/varan-editor/varan-editor.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-upload">
        <script src='/static/html/components/varan-upload/varan-upload.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-material">
        <script src='/static/html/components/varan-material/varan-material.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-card-news">
        <script src='/static/html/components/varan-card-news/varan-card-news.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-card-product">
        <script src='/static/html/components/varan-card-product/varan-card-product.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="audio-oscillator">
        <script src='/static/html/components/audio-oscillator/audio-oscillator.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-radio">
        <script src='/static/html/components/lacerta-radio/lacerta-radio.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-player">
        <script src='/static/html/components/lacerta-player/lacerta-player.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-work">
        <script src='/static/html/components/varan-work/varan-work.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="audio-keyboard">
        <script src='/static/html/components/audio-keyboard/audio-keyboard.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-context">
        <script src='/static/html/components/varan-context/varan-context.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-header-bottom">
        <script src='/static/html/components/varan-header-bottom/varan-header-bottom.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="lacerta-context">
        <script src='/static/html/components/lacerta-context/lacerta-context.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-about">
        <script src='/static/html/components/varan-about/varan-about.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-modal-button">
        <script src='/static/html/components/varan-modal-button/varan-modal-button.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-slider">
        <script src='/static/html/components/varan-slider/varan-slider.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="image-crop">
        <script src='/static/html/components/varan-crop/varan-crop.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-general-info">
        <script src='/static/html/components/varan-general-info/varan-general-info.mjs' async ></script>
        <component-action></component-action>
    </section>
    <section id="varan-contact">
        <script src='/static/html/components/varan-contact/varan-contact.mjs' async ></script>
        <component-action></component-action>
    </section>
</div>
</body>
</html>
