<template>
<section>
    <section class="view">
    <div class ="views">
       <div class="hexagon-00">
           <img class="info-00" src="/static/html/components/lacerta-infographics/icons/Lampochka.svg" alt="info"/>
       </div>
        <div class="hexagon-01">
            <img class="info-01" src="/static/html/components/lacerta-infographics/icons/Prezentatsia.svg" alt="info"/>
        </div>
        <div class="hexagon-02">
            <img class="info-02" src="/static/html/components/lacerta-infographics/icons/proekt.svg" alt="info"/>
        </div>
        <div class="hexagon-03">
            <img class="info-03" src="/static/html/components/lacerta-infographics/icons/raketa.svg" alt="info"/>
        </div>
     </div>
        <div class ="line">
            <img src="/static/html/components/lacerta-infographics/icons/linia.svg" alt="line"/>
        </div>
        <div class ="txt">
            <div class="info-00">
                <p>
                    Выбирают
                </p>
                <p>
                    интересующую тему
                </p>
            </div>
            <div class="info-01">
                <p>
                    Исследуют, пишут проект с
                </p>
                <p>
                    сопровождением педагогов
                </p>
            </div>
            <div class="info-02">
                <p>
                    Презентуют работы на
                </p>
                <p>
                    ярмарке проектов
                </p>
            </div>
            <div class="info-03">
                <p>
                    Получают награды
                </p>
                <p>
                    и бесценный опыт
                </p>
            </div>
        </div>
   </section>
</section>
</template>
