<template>
    <section id="chat">
        <div class="telegram"><img src="/static/html/components/telegram-chat/images/chatsplaceholder_svg.svg"/></div>
        <div id="message">
            <p>Open Chat</p>
            <p>or create new one</p>
        </div>
        <div id="choise">
            <div class="item">
            <div class="private">
                <img src="/static/html/components/telegram-chat/images/newprivate_svg.svg">
                <div class="privateText">Private</div>
            </div>

            </div>
            <div class="item">
            <div class="group">
                <img src="/static/html/components/telegram-chat/images/newgroup_svg.svg">
                <div class="groupText">Group</div>
            </div>
            </div>
            <div class="item">
            <div class="channel">
                <img src="/static/html/components/telegram-chat/images/channel_svg.svg">
                <div class="channelText">Channel</div>
            </div>
            </div>
        </div>
    </section>
</template>