<template>
    <div class="player-input">
        <label for="playerName" class="player-label">
            <div class="option">
                <input type="text" id="playerName" title="Player name" maxlength="16" class="player-input" placeholder="Player" />
                <select id="playerColor" title="status online">
                    <option value="await" selected>Await</option>
                    <option value="connect">Connected</option>
                    <option value="online">Online</option>
                </select>
                <button>Info</button>
            </div>
        </label>
    </div>
</template>