<template>
    <section>
        <div class="preview">
            <p>Contact</p>
        </div>
        <div id="contact">

                        <div class ="contact">
                            <p class="preview">Автономная некоммерческая организация дополнительного профессионального образования «Межрегиональный центр инновационных технологий в образовании».</p>
                            <p class="address">
                                Адрес Центра: 610047, Кировская обл., г. Киров, ул. Свердлова, д. 32-А, пом. 1003.
                            </p>
                            <p class ="post">
                                Почтовый адрес: 610002, г. Киров, а/я 1887 (АНО ДПО «МЦИТО»).
                            </p>
                            <p class="tel">
                                <a href="tel:8-800-222-30-98">Телефон: 8-800-222-30-98 (доб. 5) (звонок бесплатный).</a>
                            </p>
                            <p class="mail">
                                <a href="mailto:info@universitykids.ru">E-mail: info@universitykids.ru</a>
                            </p>
                        </div>
<!--                        <p class="graph">-->
<!--                            <slot name="lacerta-graphic"></slot>-->
<!--                        </p>-->
        </div>
<!--        <section>-->

<!--        </section>-->
    </section>
</template>
