<template>
<section>
    <div class="graphic-00">
        <div class="hexagon">
            <a href="/request">Подать заявку</a>
        </div>
        <div class="hexagon-00">
            <img src="/static/html/components/lacerta-graphic/icons/polygon3.svg" alt= "decoration " />
        </div>
        <div class="hexagon-01"></div>
        <div class="hexagon-02">
            <img src="/static/html/components/lacerta-graphic/icons/polygon2.svg" alt= "decoration"/>
        </div>
        <div class="hexagon-03"></div>
    </div>
</section>
</template>
