<template><!--
    --><section><!--
    --><div class="preview"><!--
    --><p class="preview"><!--
    -->About<!--
    --></p><!--
    --></div><!--
    --><section class="about"><!--
    --><div class = "main"><!--
    --><div class="content"><!--
    --><div class="top"><!--
    --><p><!--
    -->Lorem ipsum dolor sit amet,<!--
    --></p><!--
    --><p><!--
    -->consectetur adipiscing elit. Donec in urna ut odio pretium tincidunt.<!--
    --></p><!--
    --><p><!--
    -->Vestibulum consequat et dolor vel ullamcorper. Fusce egestas pellentesque aliquam.<!--
    --></p><!--
    --><p><!--
    -->Fusce tellus justo, condimentum:<!--
    --></p><!--
    --></div><!--
    --><div class="buttom"><!--
    --><p class="buttom"><!--
    -->Чем же дети занимаются в «Детском университете»?<!--
    --></p><!--
    --></div><!--
    --></div><!--
    --></div><!--
    --></section><!--
    --></section><!--
--></template>
