:host {
    height: 16vw;
}
p {
    margin:0;
}
p:first-letter {
    margin-left: -0.06em;
}
.varan-header {
    width: 100%;
    position: relative;
}
.varan-header-background {
    position:absolute;
    width:99.85380116959064vw;
    top:0vw;
    left:0vw;
    z-index:-1;
}
.varan-header-localhost:active {
    box-shadow:inset 0px 0px 45px 5.5px rgba(0,0,0,0.09),0px 0px 45px 5.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 5.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.varan-header-web:active {
    box-shadow:inset 0px 0px 45px 5.5px rgba(0,0,0,0.09),0px 0px 45px 5.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 5.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.varan-header-dashboard:active {
    box-shadow:inset 0px 0px 45px 5.5px rgba(0,0,0,0.09),0px 0px 45px 5.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 5.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.varan-header-localhost:hover {
    box-shadow:inset 0px 0px 50px 0.5px rgba(0,0,0,0.09),0px 0px 50px 0.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 0.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.varan-header-web:hover {
    box-shadow:inset 0px 0px 50px 0.5px rgba(0,0,0,0.09),0px 0px 50px 0.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 0.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.varan-header-dashboard:hover {
    box-shadow:inset 0px 0px 50px 0.5px rgba(0,0,0,0.09),0px 0px 50px 0.5px rgba(0,0,0,0.3);
    text-shadow:0px 0px 0.5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.varan-header-line {
    position:absolute;
    width:28.874269005847953vw;
    top:10.453216374269006vw;
    left:26.461988304093566vw;
    z-index:10;
}
.varan-header-yellow {
    position:absolute;
    width:6.432748538011697vw;
    top:9.502923976608187vw;
    left:9.576023391812866vw;
    z-index:10;
}
.varan-header-red {
    position:absolute;
    width:7.60233918128655vw;
    top:2.2660818713450293vw;
    left:7.456140350877193vw;
    z-index:10;
}
.varan-header-green {
    position:absolute;
    width:5.116959064327486vw;
    top:1.827485380116959vw;
    left:14.912280701754385vw;
    z-index:10;
}
.varan-header-help {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.3162251655629138vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:8.406432748538013vw;
    left:80.84795321637426vw;
}
.varan-header-i {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.7549668874172186vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:8.040935672514621vw;
    left:79.82456140350877vw;
}
.varan-header-erase {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.3162251655629138vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:8.406432748538013vw;
    left:74.56140350877193vw;
}
.varan-header-localhost {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.7549668874172186vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:7.967836257309942vw;
    left:39.985380116959064vw;
}
.varan-header-web {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.7549668874172186vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:7.967836257309942vw;
    left:51.38888888888889vw;
}
.varan-header-dashboard {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.7549668874172186vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:7.894736842105264vw;
    left:26.75438596491228vw;
}
.varan-header-org {
    white-space:unset;
    font-family:GothamPro-Bold, serif;
    font-size:3.948675496688742vw;
    color: rgba(210.99975,25.9998,25.9998,1);
    position:absolute;
    top:7.675438596491229vw;
    left:15.862573099415204vw;
}
.varan-header-help_pressing {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.3162251655629138vw;
    color: rgba(0,0,0,1);
    position:absolute;
    top:8.406432748538013vw;
    left:80.84795321637426vw;
}
.varan-header-erase_pressing {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.3162251655629138vw;
    color: rgba(0,0,0,1);
    position:absolute;
    top:8.406432748538013vw;
    left:74.56140350877193vw;
}
.varan-header-help_aiming {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.3162251655629138vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:8.406432748538013vw;
    left:80.84795321637426vw;
}
.varan-header-erase_aiming {
    white-space:unset;
    font-family:GothamPro, serif;
    font-size:1.3162251655629138vw;
    color: rgba(103.9992,103.9992,103.9992,1);
    position:absolute;
    top:8.406432748538013vw;
    left:74.56140350877193vw;
}