<template id ="foot">
    <div>
        <input type="file" id="fileinput" accept="audio/wav"/>
        <div class="result"></div>
        <div class="testAudio">
            <fieldset>
                <input type="file" id="audio-file" accept="audio/mpeg, audio/wav, audio/ogg, audio/*" />
                <button type="button" id="compress_btn" class="btn btn-outline-primary" style="margin-top: 20px;">Compress</button>
            </fieldset>
        </div>
        <form class="controls">
            <div>
                <label for="voice">Voice setting</label>
                <select id="voice" name="voice">
                    <option value="distortion">Distortion</option>
                    <option value="convolver">Reverb</option>
                    <option value="biquad">Bass Boost</option>
                    <option value="off" selected>Off</option>
                </select>
            </div>
            <div>
                <label for="visual">Visualizer setting</label>
                <select id="visual" name="visual">
                    <option value="sinewave">Sinewave</option>
                    <option value="frequencybars" selected>Frequency bars</option>
                    <option value="off">Off</option>
                </select>
            </div>
            <div>
                <a class="mute">Mute</a>
            </div>
        </form>
    </div>
    <button id="startbutton" style="position:relative;">Start setInterval</button>
    <button id="stopbutton" style="position:relative;">Stop setInterval</button>
    <br/>
    <br/>
    <canvas id="can"></canvas>
</template>
