<template>
    <section id="app">
        <div id="manifest"></div>
        <div id="player"></div>
        <div id="container">
            <aside id="left"></aside>
            <div id="center">
                <div id="busUp"></div>
                <div id="graph"></div>
                <div id="control"></div>
                <div id="audioPlayer"></div>
                <div id="controlFoot"></div>
                <div id="busDown"></div>
            </div>
            <aside id="right"></aside>
        </div>
<!--        <div><slot name="audio-graphic"></slot></div>-->
<!--        <button type="button" id="play" value="true">play</button>-->
<!--        <button type="button" id="stop" value="false">stop</button>-->
<!--        <input type="range" min="1" max="40">-->
<!--        <div id="view-panel">-->
<!--            <div><slot name="audio-graphic"></slot></div>-->
<!--            <canvas id="oscilloscope"></canvas>-->
<!--            <canvas id="speak"></canvas>-->
<!--        </div>-->
    </section>
</template>