<template>
    <section class="alert">
        <div id="head">
            <div id="avatar"><img src="./static/images/no_image.jpg"></div>
            <div id="alert">Delete Chat?</div>
        </div>
        <div id="message">
        Are you sure you want to delete chat with karen ?
        </div>
        <div id="button">
            <button id="ForMeAndHe">DELETE FOR ME AND KAREN</button>
            <button id="justForMe">DELETE JUST FOR ME</button>
            <button id="cancel">CANCEL</button>
        </div>
    </section>
</template>
