.board {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(11, 1fr);
    gap: 0.4vw;
    grid-auto-rows: minmax(min-content, max-content);

}

.manager-board__item_tr {
    display: grid;
    grid-template-rows:  repeat(11, 1fr);
    grid-template-columns: 1fr;
    gap: 0.4vw;
    grid-auto-rows: minmax(min-content, max-content);
}

.manager-board__item_td {
    display: flex;
    outline: .1vw solid #acb2b5;

}

.manager-board__item_td:hover {
    border: 0.2vw solid #222;
}

.manager-board__item_td_empty {
    outline: .1vw solid transparent;
}

.manager-board__item_td_img {
    width: 100%;
}

.js-active {
  border: 0.1vw dashed #444;
  background-color: #09f;
}