section#exchange{box-sizing:border-box;padding:1vw}section#exchange div#top-cards aside.grid--cell{border:.2vw solid #7694f4;box-shadow:inset 0vw 0vw 1vw 0 #7694f4}
button.s-btn__vk{
    display: flex;
    justify-content: center;
    text-align: center;
}
button#submit-button{
    background-color: #7694f4;
}

label{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5vw;
}

input{
    box-sizing: border-box;
    padding: 0.5vw;
    margin: 0.5vw;
}

div.w3-modal-content{
    display: flex;
    flex-direction: column;
}
div.w3-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: flex-end;
}
button{
    width: 100%;
    margin: 1vw;
    display: flex;
    justify-content: center;
    text-align: center;
}
div.button{
    background: transparent;
    display: flex;
}

div.button:hover{
    background: #7694f4;
}

div.avatar{
    width: 20%;
}
label[for="avatar"]{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
input#avatar{
    display: none;
}
div#control{
    display: flex;
}

img.avatar{
    width: 100%;
}

figure{
    display: flex;
    flex-direction: row;
    color: #348a00;
    position: relative;
    overflow: scroll;
    box-sizing: border-box;
    text-align: left;
    border-radius: .4vw;
    box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
    font-family: Roboto,serif;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: pre-wrap;
}

figcaption{
    display: flex;
    width: 75%;
}