<template>
    <section id="manager">
        <table id="board">
            <tr>
                <td class="cell board-corner" id="cell20">
                    <div id="free"> <img class="free" src="/static/html/components/manager-board/images/free parking.png"></div>
                </td>
                <td class="cell board-top" id="cell21"></td>
                <td class="cell board-top" id="cell22">
                    <div id="marvin"> <img class="marvin" src="/static/html/components/manager-board/images/marvin garden.png"></div>
                </td>
                <td class="cell board-top" id="cell23">
                    <div id="kentuky"> <img class="kentuky" src="/static/html/components/manager-board/images/kentuky avenue.png"></div>
                </td>
                <td class="cell board-top" id="cell24">
                    <div id="indiana"> <img class="indiana" src="/static/html/components/manager-board/images/indiana-avenu.png"></div>
                </td>
                <td class="cell board-top" id="cell25">
                    <div id="atlantic-avenue"> <img class="atlantic-avenue" src="/static/html/components/manager-board/images/atlantic-avenue.png"></div>
                </td>
                <td class="cell board-top" id="cell26"></td>
                <td class="cell board-top" id="cell27">
                    <div id="waterWorks"> <img class="waterWorks" src="/static/html/components/manager-board/images/water-works.png"></div>
                </td>
                <td class="cell board-top" id="cell28">
                    <div id="ventnor"> <img class="ventnor" src="/static/html/components/manager-board/images/ventnor-avenu.png"></div>
                </td>
                <td class="cell board-top" id="cell29">
                    <div id="illinous"> <img class="illinous" src="/static/html/components/manager-board/images/indiana-avenu.png"></div>
                </td>
                <td class="cell board-corner" id="cell30">
                    <div id="new-york"> <img class="new-york" src="/static/html/components/manager-board/images/new-york-avenue-26.png"></div>
                </td>
            </tr><tr>
            <td class="cell board-left" id="cell19">
                <div id="tennessee-avenue"> <img class="tennessee-avenue" src="/static/html/components/manager-board/images/tennessee-avenue-25.png"></div>
            </td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell31"></td>
        </tr><tr>
            <td class="cell board-left" id="cell18">
                <div id="comminuty-chest"> <img class="comminuty-chest" src="/static/html/components/manager-board/images/comminuty-chest-24.png"></div>
            </td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell32"></td>
        </tr><tr>
            <td class="cell board-left" id="cell17">
                <div id="short-line"> <img class="short-line" src="/static/html/components/manager-board/images/short-line-23.png"></div>
            </td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell33"></td>
        </tr><tr>
            <td class="cell board-left" id="cell16">
                <div id="park-place"> <img class="park-place" src="/static/html/components/manager-board/images/park-place-22.png"></div>
            </td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell34"></td>
        </tr><tr>
            <td class="cell board-left" id="cell15">
                <div id="boardwalk"> <img class="boardwalk" src="/static/html/components/manager-board/images/boardwalk-21.png"></div>
            </td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell35"></td>
        </tr><tr>
            <td class="cell board-left" id="cell14">
                <div id="city-tax"> <img class="city-tax" src="/static/html/components/manager-board/images/city-tax-20.png"></div>
            </td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell36"></td>
        </tr><tr>
            <td class="cell board-left" id="cell13">
                <div id="charles"> <img class="charles" src="/static/html/components/manager-board/images/st-charles-place-19.png"></div>
            </td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell37"></td>
        </tr><tr>
            <td class="cell board-left" id="cell12">
                <div id="chance"> <img class="chance" src="/static/html/components/manager-board/images/chance.png"></div>
            </td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell38"></td>
        </tr><tr>
            <td class="cell board-left" id="cell11">
                <div id="james"><img class="james" src="/static/html/components/manager-board/images/st-james-place-18.png"></div>
            </td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell39"></td>
        </tr><tr>
            <td class="cell board-corner" id="cell10">
                <div id="jail"><img class="jail" src="/static/html/components/manager-board/images/go to jail.png"></div>
            </td>
            <td class="cell board-bottom" id="cell9"></td>
            <td class="cell board-bottom" id="cell8"></td>
            <td class="cell board-bottom" id="cell7"></td>
            <td class="cell board-bottom" id="cell6"></td>
            <td class="cell board-bottom" id="cell5"></td>
            <td class="cell board-bottom" id="cell4"></td>
            <td class="cell board-bottom" id="cell3"></td>
            <td class="cell board-bottom" id="cell2"></td>
            <td class="cell board-bottom" id="cell1"></td>
            <td class="cell board-corner" id="cell0"></td>
        </tr>
        </table>
    </section>
</template>
