<template>
    <section id="manager">
        <table id="board">
            <tr>
                <td class="cell board-corner" id="cell20">
                    <div id="free"> <img class="free" src="/static/html/components/manager-board/images/free parking.png"></div>
                </td>
                <td class="cell board-top" id="cell21"></td>
                <td class="cell board-top" id="cell22">
                    <div id="marvin"> <img class="marvin" src="/static/html/components/manager-board/images/marvin garden.png"></div>
                </td>
                <td class="cell board-top" id="cell23">
                    <div id="kentuky"> <img class="kentuky" src="/static/html/components/manager-board/images/kentuky avenue.png"></div>
                </td>
                <td class="cell board-top" id="cell24"></td>
                <td class="cell board-top" id="cell25"></td>
                <td class="cell board-top" id="cell26"></td>
                <td class="cell board-top" id="cell27"></td>
                <td class="cell board-top" id="cell28"></td>
                <td class="cell board-top" id="cell29"></td>
                <td class="cell board-corner" id="cell30"></td>
            </tr><tr>
            <td class="cell board-left" id="cell19"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell31"></td>
        </tr><tr>
            <td class="cell board-left" id="cell18"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell32"></td>
        </tr><tr>
            <td class="cell board-left" id="cell17"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell33"></td>
        </tr><tr>
            <td class="cell board-left" id="cell16"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell34"></td>
        </tr><tr>
            <td class="cell board-left" id="cell15"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell35"></td>
        </tr><tr>
            <td class="cell board-left" id="cell14"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell36"></td>
        </tr><tr>
            <td class="cell board-left" id="cell13"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell37"></td>
        </tr><tr>
            <td class="cell board-left" id="cell12">
                <div id="chance"> <img class="chance" src="/static/html/components/manager-board/images/chance.png"></div>
            </td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell38"></td>
        </tr><tr>
            <td class="cell board-left" id="cell11"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell39"></td>
        </tr><tr>
            <td class="cell board-corner" id="cell10">
                <div id="jail"><img class="jail" src="/static/html/components/manager-board/images/go to jail.png"></div>
            </td>
            <td class="cell board-bottom" id="cell9"></td>
            <td class="cell board-bottom" id="cell8"></td>
            <td class="cell board-bottom" id="cell7"></td>
            <td class="cell board-bottom" id="cell6"></td>
            <td class="cell board-bottom" id="cell5"></td>
            <td class="cell board-bottom" id="cell4"></td>
            <td class="cell board-bottom" id="cell3"></td>
            <td class="cell board-bottom" id="cell2"></td>
            <td class="cell board-bottom" id="cell1"></td>
            <td class="cell board-corner" id="cell0"></td>
        </tr>
        </table>
    </section>
</template>
