<template>
    <section id="manager">
        <table id="board">
            <tr>
                <td class="cell board-corner" id="cell20">
                    <div id="free"> <img class="free" src="/images/monopoly/board/default/images/icon__free-parking.png"></div>
                </td>
                <td class="cell board-top" id="cell21">
                    <div id="baltic_avenue"> <img class="baltic_avenue" src="/images/monopoly/board/default/images/baltic_avenue.png"></div>
                </td>
                <td class="cell board-top" id="cell22">
                    <div id="marvin_garden"> <img class="marvin_garden" src="/images/monopoly/board/default/images/marvin_garden.png"></div>
                </td>
                <td class="cell board-top" id="cell23">
                    <div id="kentuky_avenue"> <img class="kentuky_avenue" src="/images/monopoly/board/default/images/kentucky_avenue.png"></div>
                </td>
                <td class="cell board-top" id="cell24">
                    <div id="short-line-4"> <img class="short-line-4" src="/images/monopoly/board/default/images/short-line.png"></div>
                </td>
                <td class="cell board-top" id="cell25">
                    <div id="atlantic-avenue"> <img class="atlantic-avenue" src="/images/monopoly/board/default/images/atlantic_avenue.png"></div>
                </td>
                <td class="cell board-top" id="cell26">
                    <div id="connecticut_avenue"> <img class="connecticut_avenue" src="/images/monopoly/board/default/images/connecticut_avenue.png"></div>
                </td>
                <td class="cell board-top" id="cell27">
                    <div id="waterWorks"> <img class="waterWorks" src="/images/monopoly/board/default/images/water-works.png"></div>
                </td>
                <td class="cell board-top" id="cell28">
                    <div id="ventnor"> <img class="ventnor" src="/images/monopoly/board/default/images/ventnor_avenue.png"></div>
                </td>
                <td class="cell board-top" id="cell29">
                    <div id="luxury_tax"> <img class="luxury_tax" src="/images/monopoly/board/default/images/luxury-tax.png"></div>
                </td>
                <td class="cell board-corner" id="cell30">
                    <div id="new-york"> <img class="new-york" src="/images/monopoly/board/default/images/new-york_avenue"></div>
                </td>
            </tr><tr>
            <td class="cell board-left" id="cell19">
                <div id="tennessee-avenue"> <img class="tennessee-avenue" src="/images/monopoly/board/default/images/tennessee_avenue.png"></div>
            </td>
            <td colspan="9" class="board-center">
                <div>a1</div>
            </td>
            <td colspan="9" class="board-center">
                <div>a2</div>
            </td>
            <td colspan="9" class="board-center">
                <div>a3</div>
            </td>
            <td colspan="9" class="board-center">
                <div>a4</div>
            </td>
            <td colspan="9" class="board-center">
                <div>a5</div>
            </td>
            <td colspan="9" class="board-center">
                <div>a6</div>
            </td>
            <td colspan="9" class="board-center">
                <div>a7</div>
            </td>
            <td colspan="9" class="board-center">
                <div>a8</div>
            </td>
            <td colspan="9" class="board-center">
                <div>a9</div>
            </td>
            <td class="cell board-right" id="cell31">
                <div class="comminuty-chest"> <img class="comminuty-chest" src="/images/monopoly/board/default/images/icon__community-chest.png"></div>
            </td>
        </tr><tr>
            <td class="cell board-left" id="cell18">
                <div class="comminuty-chest"> <img class="comminuty-chest" src="/images/monopoly/board/default/images/icon__community-chest.png"></div>
            </td>
            <td colspan="9" class="board-center">
                <div>b1</div>
            </td>
            <td colspan="9" class="board-center">
                <div>b2</div>
            </td>
            <td colspan="9" class="board-center">
                <div>b3</div>
            </td>
            <td colspan="9" class="board-center">
                <div>b4</div>
            </td>
            <td colspan="9" class="board-center">
                <div>b5</div>
            </td>
            <td colspan="9" class="board-center">
                <div>b6</div>
            </td>
            <td colspan="9" class="board-center">
                <div>b7</div>
            </td>
            <td colspan="9" class="board-center">
                <div>b8</div>
            </td>
            <td colspan="9" class="board-center">
                <div>b9</div>
            </td>
            <td class="cell board-right" id="cell32">
                <div id="illinous_avenue"> <img class="illinous_avenue" src="/images/monopoly/board/default/images/illinous_avenue.png"></div>
            </td>
        </tr><tr>
            <td class="cell board-left" id="cell17">
                <div id="short-line"> <img class="short-line" src="/images/monopoly/board/default/images/short-line.png"></div>
            </td>
            <td colspan="9" class="board-center">
                <div>c1</div>
            </td>
            <td colspan="9" class="board-center">
                <div>c2</div>
            </td>
            <td colspan="9" class="board-center">
                <div>c3</div>
            </td>
            <td colspan="9" class="board-center">
                <div>c4</div>
            </td>
            <td colspan="9" class="board-center">
                <div>c5</div>
            </td>
            <td colspan="9" class="board-center">
                <div>c6</div>
            </td>
            <td colspan="9" class="board-center">
                <div>c7</div>
            </td>
            <td colspan="9" class="board-center">
                <div>c8</div>
            </td>
            <td colspan="9" class="board-center">
                <div>c9</div>
            </td>
            <td class="cell board-right" id="cell33">
                <div>
                    <div id="short-line-2"> <img class="short-line-2" src="/images/monopoly/board/default/images/short-line.png"></div>
                </div>
            </td>
        </tr><tr>
            <td class="cell board-left" id="cell16">
                <div id="park-place"> <img class="park-place" src="/images/monopoly/board/default/images/park_place.png"></div>
            </td>
            <td colspan="9" class="board-center">
                <div>d1</div>
            </td>
            <td colspan="9" class="board-center">
                <div>d2</div>
            </td>
            <td colspan="9" class="board-center">
                <div>d3</div>
            </td>
            <td colspan="9" class="board-center">
                <div>d4</div>
            </td>
            <td colspan="9" class="board-center">
                <div>d5</div>
            </td>
            <td colspan="9" class="board-center">
                <div>d6</div>
            </td>
            <td colspan="9" class="board-center">
                <div>d7</div>
            </td>
            <td colspan="9" class="board-center">
                <div>d8</div>
            </td>
            <td colspan="9" class="board-center">
                <div>d9</div>
            </td>
            <td class="cell board-right" id="cell34">
                <div>
                    <div id="indiana"> <img class="indiana" src="/images/monopoly/board/default/images/indiana-avenu.png"></div>
                </div>
            </td>
        </tr><tr>
            <td class="cell board-left" id="cell15">
                <div id="boardwalk"> <img class="boardwalk" src="/images/monopoly/board/default/images/boardwalk_nature.png"></div>
            </td>
            <td colspan="9" class="board-center">
                <div>e1</div>
            </td>
            <td colspan="9" class="board-center">
                <div>e2</div>
            </td>
            <td colspan="9" class="board-center">
                <div>e3</div>
            </td>
            <td colspan="9" class="board-center">
                <div>e4</div>
            </td>
            <td colspan="9" class="board-center">
                <div>e5</div>
            </td>
            <td colspan="9" class="board-center">
                <div>e6</div>
            </td>
            <td colspan="9" class="board-center">
                <div>e7</div>
            </td>
            <td colspan="9" class="board-center">
                <div>e8</div>
            </td>
            <td colspan="9" class="board-center">
                <div>e9</div>
            </td>
            <td class="cell board-right" id="cell35">
                <div>
                    <div class="comminuty-chest"> <img class="comminuty-chest" src="/images/monopoly/board/default/images/icon__community-chest.png"></div>
                </div>
            </td>
        </tr><tr>
            <td class="cell board-left" id="cell14">
                <div id="city-tax"> <img class="city-tax" src="/images/monopoly/board/default/images/city-tax.png"></div>
            </td>
            <td colspan="9" class="board-center">
                <div>f1</div>
            </td>
            <td colspan="9" class="board-center">
                <div>f2</div>
            </td>
            <td colspan="9" class="board-center">
                <div>f3</div>
            </td>
            <td colspan="9" class="board-center">
                <div>f4</div>
            </td>
            <td colspan="9" class="board-center">
                <div>f5</div>
            </td>
            <td colspan="9" class="board-center">
                <div>f6</div>
            </td>
            <td colspan="9" class="board-center">
                <div>f7</div>
            </td>
            <td colspan="9" class="board-center">
                <div>f8</div>
            </td>
            <td colspan="9" class="board-center">
                <div>f9</div>
            </td>
            <td class="cell board-right" id="cell36">
                <div>
                    <div id="electric_company"> <img class="electric_company" src="/images/monopoly/board/default/images/electric_company.png"></div>
                </div>
            </td>
        </tr><tr>
            <td class="cell board-left" id="cell13">
                <div id="charles"> <img class="charles" src="/images/monopoly/board/default/images/st-charles_place.png"></div>
            </td>
            <td colspan="9" class="board-center">
                <div>g1</div>
            </td>
            <td colspan="9" class="board-center">
                <div>g2</div>
            </td>
            <td colspan="9" class="board-center">
                <div>g3</div>
            </td>
            <td colspan="9" class="board-center">
                <div>g4</div>
            </td>
            <td colspan="9" class="board-center">
                <div>g5</div>
            </td>
            <td colspan="9" class="board-center">
                <div>g6</div>
            </td>
            <td colspan="9" class="board-center">
                <div>g7</div>
            </td>
            <td colspan="9" class="board-center">
                <div>g8</div>
            </td>
            <td colspan="9" class="board-center">
                <div>g9</div>
            </td>
            <td class="cell board-right" id="cell37">
                <div>
                    <div id="pacific_avenue"><img class="pacific_avenue" src="/images/monopoly/board/default/images/tacoma__green_pacific-avenue.png"></div>
                </div>
            </td>
        </tr><tr>
            <td class="cell board-left" id="cell12">
                <div id="pensilvania_avenue"><img class="pensilvania_avenue" src="/images/monopoly/board/default/images/washington__green_pennsylvania-avenue.png"></div>
            </td>
            <td colspan="9" class="board-center">
                <div>h1</div>
            </td>
            <td colspan="9" class="board-center">
                <div>h2</div>
            </td>
            <td colspan="9" class="board-center">
                <div>h3</div>
            </td>
            <td colspan="9" class="board-center">
                <div>h4</div>
            </td>
            <td colspan="9" class="board-center">
                <div>h5</div>
            </td>
            <td colspan="9" class="board-center">
                <div>h6</div>
            </td>
            <td colspan="9" class="board-center">
                <div>h7</div>
            </td>
            <td colspan="9" class="board-center">
                <div>h8</div>
            </td>
            <td colspan="9" class="board-center">
                <div>h9</div>
            </td>
            <td class="cell board-right" id="cell38">
                <div>
                    <div id="virginia_avenue"> <img class="virginia_avenue" src="/images/monopoly/board/default/images/virginia_avenue.png"></div>
                </div>
            </td>
        </tr><tr>
            <td class="cell board-left" id="cell11">
                <div id="james"><img class="james" src="/images/monopoly/board/default/images/st-james_place.png"></div>
            </td>
            <td colspan="9" class="board-center">
                <div>i1</div>
            </td>
            <td colspan="9" class="board-center">
                <div>i2</div>
            </td>
            <td colspan="9" class="board-center">
                <div>i3</div>
            </td>
            <td colspan="9" class="board-center">
                <div>i4</div>
            </td>
            <td colspan="9" class="board-center">
                <div>i5</div>
            </td>
            <td colspan="9" class="board-center">
                <div>i6</div>
            </td>
            <td colspan="9" class="board-center">
                <div>i7</div>
            </td>
            <td colspan="9" class="board-center">
                <div>i8</div>
            </td>
            <td colspan="9" class="board-center">
                <div>i9</div>
            </td>
            <td class="cell board-right" id="cell39">
                <div>
                    <div id="vermont_avenue"> <img class="electric_company" src="/images/monopoly/board/default/images/vermont_avenue.png"></div>
                </div>
            </td>
        </tr><tr>
            <td class="cell board-corner" id="cell10">
                <div id="jail"><img class="jail" src="/images/monopoly/board/default/images/go__jail.png"></div>
            </td>
            <td class="cell board-bottom" id="cell9">
                <div id="chance"> <img class="chance" src="/images/monopoly/board/default/images/icon__chance.png"></div>
            </td>
            <td class="cell board-bottom" id="cell8">
                <div id="st_james_place"><img class="st_james_place" src="/images/monopoly/board/default/images/st_james_place.png"></div>
            </td>
            <td class="cell board-bottom" id="cell7">
                <div id="north_carolina_avenue"><img class="north_carolina_avenue" src="/images/monopoly/board/default/images/north-carolina_avenue.png"></div>
            </td>
            <td class="cell board-bottom" id="cell6">
                <div id="oriental_avenue"><img class="oriental_avenue" src="/images/monopoly/board/default/images/oriental_avenue.png"></div>
            </td>
            <td class="cell board-bottom" id="cell5">
                <div id="mediterranean_avenue"><img class="mediterranean_avenue" src="/images/monopoly/board/default/images/atlantic-city__blue_mediterranean-avenue"></div>
            </td>
            <td class="cell board-bottom" id="cell4">
                <div id="short-line-3"><img class="short-line-3" src="/images/monopoly/board/default/images/short-line.png"></div>
            </td>
            <td class="cell board-bottom" id="cell3">
                <div id="states_avenue"><img class="states_avenue" src="/images/monopoly/board/default/images/states_avenue.png"></div>
            </td>
            <td class="cell board-bottom" id="cell2">
                <div id="tennessee_avenue"><img class="tennessee_avenue" src="/images/monopoly/board/default/images/tennessee_avenue.png"></div>
            </td>
            <td class="cell board-bottom" id="cell1">
                <div id="ventnor_avenu"><img class="ventnor_avenu" src="/images/monopoly/board/default/images/ventnor_avenu.png"></div>
            </td>
            <td class="cell board-corner" id="cell0">
                <div id="go"><img class="go" src="/images/monopoly/board/default/images/go.png"></div>
            </td>
        </tr>
        </table>
    </section>
</template>
