<template>
    <div class="Docs">
        <fieldset class="markdown__string_menu">
            <legend>menu</legend>
            <button class="markdown__button_download">Скачать MD файл</button>
            <label class="markdown__button_upload" for="markdown__button_upload">Загрузить MD файл <input type="file" id="markdown__button_upload"></label>
            <select class="markdown__button_select">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="index">index</option>
                <option value="ionic">ionic</option>
                <option value="skeleton-effect">skeleton-effect</option>
                <option value="fs">fs</option>
                <option value="grid">grid</option>
                <option value="docs">docs</option>
            </select>
            <label class="markdown__button_views" for="markdown__button_views">Change views<input type="checkbox" checked id="markdown__button_views"></label>
        </fieldset>
        <fieldset class="markdown__self_menu">
            <aside id="markdown__self_menu_aside_0" class="markdown__self_menu_aside"></aside>
            <div class="markdown__self_html" style="display: none;"></div>
            <textarea class="markdown__self" style="display: flex;"></textarea>
            <aside id="markdown__self_menu_aside_1" class="markdown__self_menu_aside"></aside>
        </fieldset>
        <fieldset class="markdown__string_menu">
            <legend>menu</legend>
            <label for="markdown__string_menu_change-views">change views<input type="checkbox" checked id="markdown__string_menu_change-views" data-value="json"/></label>
        </fieldset>
        <fieldset class="markdown__string">
            <div class="markdown__html"></div>
            <section id="markdown__string_views"></section>
        </fieldset>
         <page-external slot ="apk" data-url="json" data-json="/android/index.json" data-height=38></page-external>
    </div>
</template>
