<template><!--
    --><section><!--
        --><div class="preview"><!--
            --><p class="txt"><!--
                -->Новости<!--
                --></p><!--
            --></div><!--
        --><section id="news"><!--
            --><details class="item item_" open><!--
                --><summary class="item_content"><!--
                    --><section  class="news"><!--
                                --><div class="hexagon"><!--
                                        --><img class="gallery" src="/static/html/components/lacerta-news/icons/no_image.jpg" alt ="photo"/><!--
                                        --></div><!--
                                --><div class="information"><!--
                                        --><h2 class="title"><!--
                                              --> <input maxlength="60" required type="text" name="title" id="titleItem" value="" placeholder="введите заголовок статьи"><!--
                                            --></h2><!--
                                        --><h3 class="date">Date</h3><!--
                                        --><div class="short-content"><!--
                                            --><div class="content" open><!--
                                                --><summary class="preview"><!--
                                                    --><p><!--

                                                        --></p><!--
                                                                 --><p><slot name = "description"></slot></p><!--
                                                    --></summary><!--
                                                --><p><!--
                                                    --></p><!--
                                                  --><p><slot name = "content"></slot></p><!--
                                                --></div><!--
                                            --></div><!--
                                        --></div><!--
                                --></section><!--
                    --></summary><!--
                --><div class="menu"><!--
                   --><form method="post" enctype="multipart/form-data" action=""><!--
                    --><label for="image">Выберите изображение<input required type="file" id="image"></label><!--
                      --></form><!--
                    --></div><!--
                --></details><!--
            --></section><!--
    --></section><!--
--></template>
