details > summary {
  list-style: none;
}
details > summary::marker {
  display: none;
}
details {
  cursor: pointer;
  margin: 1vw;
  //border: 1px solid #E1E1E1;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
  color: #363636;
  padding: 1%;
  margin-left: 0;
  margin-right: 0;
  outline: none;
  display: flex;
  text-align: -webkit-center;
  button {

    width: 95%;
    background: -webkit-linear-gradient(top, #FAFAFA 50%, #E1E1E1 50%);
    border-radius: 5px;
    cursor: pointer;
    font-size: .8em;
    font-weight: bold;
    margin: -1%;
    padding: 8px 0;
    position: relative;
    text-align: center;
    outline: none;
    margin-bottom: 1vw;
    margin-top: 1vw;
  }
  input {
    margin-bottom: 1vw;
    margin-top: 1vw;
    width: 91%;
  }
}
