@import "./docs/css/fonts.scss";
@import "./docs/css/media.scss";
@import "./docs/css/interface.scss";
@mixin p(){
  @include border();
  margin: 1vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 2vw;
  text-align: center;
  font-family: Roboto, serif;
  @include fonts(8);
}
@mixin disabledSelect(){
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                not supported by any browser */
}
@mixin padding(){
  box-sizing: border-box;
  padding: 1vw;
}

@mixin border() {
  width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 0.25vw;
  text-align: center;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
}

@mixin sectionInput() {
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

:host{
  width: 100%;
  margin: auto;
  margin-bottom: 3vw;
}
section#table{
  div#tableHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    div.wrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;
      min-height: 4vw;
      margin-bottom: 1vw;
      div.rows_count{
        @include border();
        flex-grow: 1;
        align-self: stretch;
        @include padding();
        @include disabledSelect();
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      ul.pagination{
        @include border();
        flex-grow: 1;
        margin: 0;
        align-self: stretch;
        @include padding();
        @include disabledSelect();
        @include display(row, nowrap, start, center, stretch);
        li{
          list-style-type: none;
          @include border();
          @include padding();
          width: 5vw;
          height: 5vw;
          margin: auto;
          display: flex;
          justify-content: center;
          cursor: pointer;
          border-radius: 0.3vw;
          span{
            align-self: center;
          }
        }
        li.active{
          background-color: green;

        }
      }
      div.property{
        @include border();
        @include padding();
        @include disabledSelect();
      }
      select.maxRows{
        @include border();
        @include padding();
        @include disabledSelect();
        cursor: pointer;
      }
      div.num_rows{
        @include border();
        flex-grow: 1;
        margin: 0;
        align-self: stretch;
        @include padding();
        @include disabledSelect();
      }
    }
  }
  section.table{
    section.header{
      @include disabledSelect();
      @include display(row, nowrap, space-between, center, stretch);
      @include border();
      div{
        @include disabledSelect();
        @include border();
        @include fonts(6);
        font-family: Roboto, serif;
        padding: 0;
        margin: 0.1vw;
        @include display(column, nowrap, space-between, center, stretch);
        input{
          @include sectionInput();
          box-sizing: border-box;
          flex-grow: 1;
          width: 100%;
          cursor: text;
          outline:none;
        }
        select{
          @include sectionInput();
          padding: 0.5vw;
          cursor: pointer;
        }
      }
    }
    section.tbody{
      @include disabledSelect();
      @include display(column, nowrap, space-between, center, stretch);
      @include border();
      div.item{
        @include display(row, nowrap, space-between, center, stretch);
        div.item-row{
          @include border();
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-self: stretch;
          margin: 0.1vw;
          width: calc(97vw /6);
        }
      }
    }
  }
}
