@import "../../../../index.scss";

:host {
  width: 100%;
}

@mixin cardWrapper() {
  display: flex;
  flex-direction: column;
  width: 32vw;
  box-shadow: 0 0 2vw 0.2vw rgba(0,0,0,0.1);
  border-radius: var(--border-radius);
  padding: 2vw;
  box-sizing: border-box;
  margin: 1.5vw auto;
}

.auction-auth {
  &__wallet {
    @include cardWrapper();

    &_title {
      color: $--Thunderbird;
      position: relative;
      padding-bottom: 0.5vw;
      margin: 0 0 0.8vw;
      font-size: $--size4;

      &:after {
        content: '';
        position: absolute;
        background: $--Thunderbird;
        width: 95%;
        height: 0.1vw;
        left: 0;
        bottom: 0;
      }
    }

    &_content {
      font-size: $--size3;
      margin-bottom: 0.8vw;

      & > a {
        color: $--Thunderbird;
      }
    }
  }

  &__create {
    display: flex;
    flex-direction: column;

    & > label {
      h3 {
        font-size: $--size3;
        margin: 0.8vw 0;
      }
    }

    &_menu {
      display: flex;
      flex-direction: row;
      cursor: pointer;

      &_button {
        font-size: $--size3;
        padding: 0.4vw;
        text-align: center;
        width: 12vw;
        @include border();
      }

      &_status {
        font-size: $--size3;
        padding: 0.4vw;
        text-align: center;
      }
    }

    & > input {
      display: none;
    }
  }

  &__account {
    @include cardWrapper();

    &_item {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.8vw;

      &_label {
        font-size: $--size3;
        margin-bottom: 0.8vw;
      }

      &_input {
        height: 2vw;
        font-size: $--size3;
        padding-left: 0.5vw;
        background: transparent;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__password {
    @include cardWrapper();

    &_item {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.8vw;

      &_create {
        position: absolute;
        top: 0;
        right: 0.8vw;
        width: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }

      &_confirm {
        position: absolute;
        top: 0;
        right: 0.8vw;
        width: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }

      & > label {
        margin-bottom: 0.8vw;
        font-size: $--size3;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &_input {
      position: relative;

      &_svg {
        color: $--spanish-green;
      }

      &_self {
        width: 100%;
        padding: 0.4vw;
        min-height: 1vw;
        box-sizing: border-box;

        border: $--border solid $--spanish-green;

        &:focus-visible {
          outline: none;
        }
      }
    }
  }

  &__policy {
    @include cardWrapper();

    &_item {
      margin-bottom: 0.8vw;
      display: flex;
      flex-direction: row;
      align-items: center;

      &_label {
        display: flex;
        flex-direction: revert;
        align-items: center;
        font-size: $--size3;
      }

      &_checked {
        position: relative;
        width: 1.2vw;
        height: 1.2vw;
        cursor: pointer;
        border: $--border solid $--spanish-green;
        border-radius: $--border-radius;
        margin-right: 2vw;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &_span {

      }

      & > a {
        color: red;
        font-size: $--size3;
      }
    }
  }

  &__login {
    @include cardWrapper();

    &_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1vw;

      &_connect {
        width: 4vw;
        height: 4vw;
        background: $--porsche;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > div {
          text-align: center;
        }
      }

      &_button {
        background: transparent;
        border: $--border solid $--spanish-green;
        width: 8vw;
        height: 3vw;
        cursor: pointer;
      }

      &_visit {
        font-size: $--size3;
        align-self: center;

        & > a {
          color: $--Thunderbird;
        }
      }

      &_label {
        & > span {
          color: $--Thunderbird;
          font-size: $--size3;
        }

        & > div {
          font-size: $--size3;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
