@import "./docs/css/interface.scss";
@import "./docs/css/fonts.scss";
@import "./docs/css/media.scss";

@mixin border() {
  width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 0.25vw;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
}

section#codemirror-main{
  div[role="main"]{
    background-color: #0b97c4;
    @include border();
    @include display(column, nowrap, space-evenly, center, stretch);
    div.options{
      @include display(row, wrap, space-evenly, center, stretch);
      button{
        @include border();
        margin: 1vw;
        width: 20vw;
        @include fonts(8);
        font-family: Roboto,serif;
      }
    }

    div.CodeMirror{
      width: 100%;
      cursor: text;
      display:flex;
      div.CodeMirror-dialog-top{
        width: 60%;
        position: absolute;
        display: flex;
        margin: auto;
        flex-direction: row;
        justify-content: end;
        //background-color: #0b97c4;
        //top:2vw

      }
      div.CodeMirror-scroll{
        width: 100%;
      }
      pre.CodeMirror-line{
        display: flex;
        padding-left: 3vw;
      }
    }

    div#result{
      @include fonts(8);
      font-family: Roboto,serif;

    }
  }
}