<template>
    <section class="head">
        <div id="you">
            <div id="avatar"><img src="./static/images/no_image.jpg"></div>
            <div id="info">
                <p id="name">Your Name</p>
                <p class="info">subscribe 343325252</p>
                <div class="private" style="display: none"></div>
            </div>
        </div>
        <div id="settings">
            <label><img src="./static/images/JSDesign/WebDesign_v0.1/Icons/mute_svg.svg"></label>
            <label><img src="./static/images/JSDesign/WebDesign_v0.1/Icons/search_svg.svg"></label>
            <label><img src="./static/images/JSDesign/WebDesign_v0.1/Icons/more_svg.svg"></label>
        </div>
    </section>
</template>
