<template>
   <html>
   <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
   </head>

   <body>
   <div id="logo">
      <pre>
       ___  _ __  _____
      / _ \| '__|/ / _
     | (_) | |  | |__) \
      \___/|_|   \____/
      </pre>
   </div>
   <h2>Open or Create Local Database</h2>
   <i>Open a database locally and create it if the database doesn't exist.</i>
   <br><br>
   <input id="dbname" type="text" placeholder="Database name"/>
   <button id="create" type="button" disabled>Open</button>
   <select id="type">
      <option value="eventlog">Eventlog</option>
      <option value="feed">Feed</option>
      <option value="keyvalue">Key-Value</option>
      <option value="docstore">DocumentDB</option>
      <option value="counter">Counter</option>
   </select>
   <input id="public" type="checkbox" checked> Public

   <h2>Open Remote Database</h2>
   <i>Open a database from an OrbitDB address, eg. /orbitdb/QmfY3udPcWUD5NREjrUV351Cia7q4DXNcfyRLJzUPL3wPD/hello</i>
   <br>
   <i><b>Note!</b> Open the remote database in an Incognito Window or in a different browser. It won't work if you don't.</i>
   <br><br>
   <input id="dbaddress" type="text" placeholder="Address"/>
   <button id="open" type="button" disabled>Open</button>
   <input id="readonly" type="checkbox" checked> Read-only
   <br><br>
   <div id="status">Init</div>
   <div>
      <header id="output-header"></header>
      <div id="output"></div>
   </div>
   <div id="writerText"></div>

   <script type="module">

   </script>
   </body>
   </html>
</template>
