<template>
   <html>
   <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
   </head>
   <body>
   <div id="logo">
      <pre>
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░█░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░████░░░░░░█████░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░████████░░░███████░░░░░░░░░░░░░░░░░░░░░░░░
░░░██████████░█████████░░░░░░░░░░░░░░░░░░░░░░░
░░████████████░░█████░░░░░░░░░░░░░░░░░░░░░░░░░
░░░██████████░░░░░█░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░████████░░░░░░█████╗░██████╗░░██████╗░░░░░
░░░░░░░░█████░░░░██╔══██╗██╔══██╗██╔════╝░░░░░
░░░░░░█████████░░██║░░██║██████╔╝██║░░██╗░░░░░
░░░░░███████████░██║░░██║██╔══██╗██║░░╚██╗░░░░
░░░░░░█████████░░╚█████╔╝██║░░██║╚██████╔╝░░░░
░░░░░░░███████░░░░╚════╝░╚═╝░░╚═╝░╚═════╝░░░░░
░░░░░░░░░███░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
</pre>
   </div>
   <div id="status">Init</div>
   <div>
      <header id="output-header"></header>
      <div id="output"></div>
   </div>
   <div id="writerText"></div>

   <script type="module">

   </script>
   </body>
   </html>
</template>
