<template>
    <section>
        <div>
            <p>
                Document
            </p>
        </div>
        <ul class="document">
            <li>
                <a class="item"  href="/static/html/components/lacerta-documents/images/Положение об организации и проведении конкурса.docx" download="Положение об организации и проведении конкурса.docx">
                    <p class ="item">
                        Положение об организации и проведении конкурса эссе на право зачисления в Детский университет в 2019/2020 уч. году «Почему я должен попасть в Детский университет»
                    </p>
                </a>
            </li>
            <li>
                <a class="item" href="/static/html/components/lacerta-documents/images/Соглашение на использование сведений в Детском университете.docx" download="Соглашение на использование сведений в Детском университете.docx">
                    <p class ="item">
                        Соглашение на использование сведений и материалов участников Детского университета
                    </p>
                </a>
            </li>
        </ul>
    </section>
</template>
