<template>
    <section id="post-office">
        <p>Почта</p>
        <div id="wrapper">
            <div class="post-office">
                <iframe
                        src="https://widgets.dellin.ru/tracker/?info=1&delivery=1&extraparams=1&internal=0"
                        width="334"
                        height="212"
                        scrolling="no"
                        frameborder="0">
                </iframe>
            </div>
        </div>
    </section>
</template>
