<template>

    <div class="container app">
        <!-- heading -->
        <div class="row">
            <div class="col s12">
                <h1>Rington graph</h1>
            </div>
        </div>
        <!-- audio player -->
        <div id="audioPlayer">
            <!-- audio player top - play/pause & visual -->
            <div class="row" id="audioPlayer__top">
                <!-- play/pause -->
                    <svg
                            id="playButton"
                            height="200"
                            width="200"
                            viewbox="0 0 200 200"
                            preserveAspectRatio="xMidYMid meet"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:svg="http://www.w3.org/2000/svg">
                        <!-- .svg-audio-btn main group -->
                        <g class="svg-audio-btn">
                            <!-- bg -->
                            <circle
                                    cx="50%"
                                    cy="50%"
                                    r="47.5%"
                                    fill="transparent"
                                    stroke-width="5%"/>
                            <!-- play triangle -->
                            <path
                                    class="svg-audio-btn__play"
                                    d="M 80 50
                 L 80 150
                 L 133.33 100"/>
                            <!-- pause group -->
                            <g class="svg-audio-btn__pauseGrp hidden">
                                <rect
                                        class="svg-audio-btn__pause"
                                        height="50%"
                                        width="5%"
                                        x="40%"
                                        y="25%"/>
                                <rect
                                        class="svg-audio-btn__pause"
                                        height="50%"
                                        width="5%"
                                        x="55%"
                                        y="25%"/>
                            </g>
                        </g>
                    </svg>

                <!-- visualizer -->
                <div class="col s7">
                    <canvas id="visualizer" />
                </div>
            </div>
            <!-- audio player bottom = slider -->
            <div class="row" id="audioPlayer__bottom">
                <div class="s12">
                    <input
                            data-f="1"
                            id="wave1Control"
                            name="wave1Control"
                            type="range"
                            min="-100.0"
                            max="100.0"
                            step="0.1"
                            value="0.0"/>
                </div>
                <div class="s12">
                    <input
                            data-f="2"
                            id="wave2Control"
                            name="wave2Control"
                            type="range"
                            min="-100.0"
                            max="100.0"
                            step="0.1"
                            value="0.0"/>
                </div>
                <div class="s12">
                    <input
                            data-f="3"
                            id="wave3Control"
                            name="wave3Control"
                            type="range"
                            min="-100.0"
                            max="100.0"
                            step="0.1"
                            value="0.0"/>
                    <input
                            id="volumeControl"
                            name="volumeControl"
                            type="range"
                            min="0.0"
                            max="1.0"
                            step="0.1"
                            value="0.5"/>
                </div>
            </div>
        </div>
    </div>
</template>