<template>
    <section>
        <div id="head"><slot name="telegram-sidebar-left-head"></slot></div>
        <div id="items"></div>
        <div id="button"><slot name="telegram-button"></slot></div>
    </section>
</template>


<!--<div class="item">-->
<!--    <div class="avatar"><img style="box-sizing: border-box; padding: .5vw;" src="/static/html/components/telegram-sidebar-left/images/my.png"/></div>-->
<!--    <div class="info">-->
<!--        <div class="name">Saved Messages</div>-->
<!--        <div class="status">chat with yourself</div>-->
<!--        <div class="id" style="display: none"></div>-->
<!--        <div class="private" style="display: none"></div>-->
<!--    </div>-->
<!--</div>-->
