<template>
    <section class="scroll">
        <a href="/about" aria-label="About"><div id="hexagon-01"></div><div id="tooltip-01"> О проекте </div></a>
        <a href="/gallery" aria-label="Gallery"><div id="hexagon-02"></div><div id="tooltip-02"> Галерея </div></a>
        <a href="/news" aria-label="News">   <div id="hexagon-03"></div> <div id="tooltip-03"> Новости </div></a>
        <a href="/request" aria-label="Request">   <div id="hexagon-04"></div> <div id="tooltip-04"> Заявка </div></a>
        <a href="/documents" aria-label="Documents">  <div id="hexagon-05"></div>  <div id="tooltip-05"> Документы </div> </a>
        <a href="/contact" aria-label="Contact">   <div id="hexagon-06"></div> <div id="tooltip-06"> Контакты </div></a>
    </section>
</template>
