@import "./docs/css/interface.scss";
@import "./docs/css/fonts.scss";
@import "./docs/css/media.scss";

:host {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    padding: 1vw;
}

.markdown {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
 
    &__self {
        resize: vertical;
        min-height: 12vw;
    }

    &__html {
        background: rgb(155, 206, 193);
    }

    &__string {
        background: rgb(198, 206, 155);
    }
}