<template>
    <div class="markdown">
        <fieldset class="markdown__string_menu">
            <legend>menu</legend>
            <button class="markdown__button_download">Скачать MD файл</button>
            <label class="markdown__button_upload" for="markdown__button_upload">Загрузить MD файл <input type="file" id="markdown__button_upload"></label>
            <select class="markdown__button_select">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="index">index</option>
                <option value="ionic">ionic</option>
                <option value="skeleton-effect">skeleton-effect</option>
                <option value="fs">fs</option>
                <option value="grid">grid</option>
                <option value="docs">docs</option>
            </select>
            <label class="markdown__button_views" for="markdown__button_views">Change views<input type="checkbox" checked id="markdown__button_views"></label>
            <label class="markdown__button_update" for="markdown__button_update"><input type="button" value="Save Md" id="markdown__button_update"></label>
            <label class="markdown__button_query" for="markdown__button_query"><input type="button" value="Get Md" id="markdown__button_query"></label>
            <div class="options">
                <button id="search" role="button">
                    Find
                </button>
                <button id="fnext" role="button">
                    Find Next
                </button>
                <button id="fprev" role="button">
                    Find Previous
                </button>
                <button id="replace" role="button">
                    Replace
                </button>
                <button id="replall" role="button">
                    Replace all
                </button>
                <button id="goto" role="button">
                    Go to
                </button>
                <button id="undo" role="button">
                    Undo
                </button>
                <button id="redo" role="button">
                    Redo
                </button>
            </div>
        </fieldset>
        <fieldset class="markdown__self_menu">
            <aside id="markdown__self_menu_aside_0" class="markdown__self_menu_aside"></aside>
            <div class="markdown__self_html" style="display: none;"></div>
            <textarea class="markdown__self" style="display: flex;"></textarea>
            <aside id="markdown__self_menu_aside_1" class="markdown__self_menu_aside"></aside>
        </fieldset>
        <fieldset class="markdown__string_menu">
            <legend>menu</legend>
            <label class="markdown__string_menu_change_views" for="markdown__string_menu_change_views">change views<input type="checkbox" checked id="markdown__string_menu_change_views" data-value="json"/></label>
            <div class="markdown__string_menu_json markdown__string_menu_json_html">
                <input class="markdown__string_menu_json_html_query" id="query" type="text" value=".[1].email">
                <input class="markdown__string_menu_json_html_run" id="btnRun" type="button" value="Run" disabled>
            </div>
            <div class="markdown__string_menu_json markdown__string_menu_json_code">
                <input class="markdown__string_menu_json_code_query" type="text" value=".[1].email">
                <input class="markdown__string_menu_json_code_run" type="button" value="Run" disabled>
            </div>
        </fieldset>
        <fieldset class="markdown__string">
            <div class="markdown__string_html"></div>
            <div class="markdown__string_html_json" style="display: none">
                <textarea class="markdown__string_html_json_input" id="markdown__string_html_json_input"></textarea>
                <textarea class="markdown__string_html_json_output" id="markdown__string_html_json_output"></textarea>
            </div>
            <section id="markdown__string_views"></section>
            <div class="markdown__string_views_json" style="display: none">
                <textarea class="markdown__string_views_json_input" id="markdown__string_views_json_input"></textarea>
                <textarea class="markdown__string_views_json_output" id="markdown__string_views_json_output"></textarea>
            </div>
        </fieldset>
         <page-external slot ="apk" data-url="json" data-json="/android/index.json" data-height=38></page-external>
    </div>
</template>
