<template>
    <div class="markdown">
        <div class="markdown__button" >
            <button class="markdown__button_download">Скачать MD файл</button>
            <label class="markdown__button_upload" for="upload">Загрузить MD файл <input type="file" id="upload"></label>
            <select class="markdown__button_select">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="index">index</option>
                <option value="ionic">ionic</option>
                <option value="skeleton-effect">skeleton-effect</option>
                <option value="fs">fs</option>
                <option value="grid">grid</option>
                <option value="docs">docs</option>
            </select>
        </div>
        <textarea class="markdown__self"></textarea>
        <fieldset class="markdown__string">
            <legend>markdown__string</legend>
            <fieldset class="markdown__string_menu">
                <legend>menu</legend>
                <label for="markdown__string_menu_change-views">change views<input type="checkbox" checked id="markdown__string_menu_change-views" data-value="json"/></label>
            </fieldset>
            <div class="markdown__html"></div>
            <section id="markdown__string_views"></section>
        </fieldset>
    </div>
</template>
