<template>
    <div class="markdown">
        <div class="markdown__button" >
            <button class="markdown__button_download">Скачать MD файл</button>
            <label class="markdown__button_upload" for="upload">Загрузить MD файл <input type="file" id="upload"></label>
            <select class="markdown__button_select">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="index">index</option>
                <option value="fs">fs</option>
                <option value="grid">grid</option>
                <option value="docs">docs</option>
                <option value="ionic">ionic</option>
            </select>
        </div>
        <textarea class="markdown__self"></textarea>
        <div class="markdown__html"></div>
        <pre class="markdown__string"></pre>
    </div>
</template>
