button#balanceWaves {
    border: 0.1vw solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 0.5vw;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 1vw;
    text-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #0078e7;
    width: 10vw;
}
section#waves fieldset.io-wrapper  {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
section#waves  {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    border: none;
    box-shadow:none;
    width: 28vw;
}
section#waves fieldset.io-wrapper.io-wrapper-io  {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.io-wrapper-io {
    padding-right: 2.4vw;
}
div.data {
    align-self: stretch;
}

input {
    width: 32%;
}