<template>
    <div class="item">
        <form class="contract">
            <div class="contract-users">
                <fieldset class="contract-users-customer">
                    <legend class="contract-users-customer-legend">customer</legend>
                    <slot name="waves-game-user-customer"></slot>
                </fieldset>
                <fieldset class="contract-users-executor">
                    <legend class="contract-users-executor-legend">executor</legend>
                    <slot name="waves-game-user-executor"></slot>
                </fieldset>
            </div>
            <fieldset class="contract-item">
                <legend>contract</legend>
                <fieldset class="contract-item_property">
                    <legend>property</legend>
                </fieldset>
                <fieldset class="contract-item_input">
                    <legend>data</legend>
                </fieldset>
            </fieldset>
        </form>
        <slot name="varan-menu"></slot>
    </div>
</template>
