<template>
    <div class="item">
        <form class="contract">
            <fieldset class="contract-customer">
                <legend>customer</legend>
            </fieldset>
            <fieldset class="contract-item">
                <legend>contract</legend>
                <fieldset class="contract-item_property">
                    <legend>property</legend>
                </fieldset>
                <fieldset class="contract-item_input">
                    <legend>data</legend>
                </fieldset>
            </fieldset>
            <fieldset class="contract-executor">
                <legend>executor</legend>
            </fieldset>
        </form>
        <slot name="varan-menu"></slot>
    </div>
</template>
