<template>
    <div class="wrapper">
        <fieldset class="blockchain-property">
            <legend>customer</legend>
            <fieldset class="blockchain-property-item">
                <legend>property</legend>
                <ul class="blockchain-property-item-list">
                    <li class="blockchain-property-item-list-li">NONE</li>
                    <li class="blockchain-property-item-list-li">VOTERS</li>
                    <li class="blockchain-property-item-list-li">QUORUM</li>
                    <li class="blockchain-property-item-list-li">VOTING</li>
                    <li class="blockchain-property-item-list-li">REVEAL</li>
                    <li class="blockchain-property-item-list-li">FEATURED</li>
                    <li class="blockchain-property-item-list-li">DELISTED</li>
                    <li class="blockchain-property-item-list-li">verifier</li>
                    <li class="blockchain-property-item-list-li">VERIFIED</li>
                    <li class="blockchain-property-item-list-li">BLACKLISTED</li>
                </ul>
            </fieldset>
            <fieldset class="blockchain-property-item">
                <legend>relations</legend>
                <ul class="blockchain-property-item-list">
                    <li class="blockchain-property-item-list-li">addItem</li>
                    <li class="blockchain-property-item-list-li">purchase</li>
                    <li class="blockchain-property-item-list-li">withdraw</li>
                    <li class="blockchain-property-item-list-li">deposit</li>
                    <li class="blockchain-property-item-list-li">voteCommit</li>
                    <li class="blockchain-property-item-list-li">voteReveal</li>
                    <li class="blockchain-property-item-list-li">setStatus</li>
                </ul>
            </fieldset>
        </fieldset>

        <fieldset class="blockchain-property">
            <legend>executor</legend>
            <fieldset class="blockchain-property-item">
                <legend>property</legend>
                <ul class="blockchain-property-item-list">
                    <li class="blockchain-property-item-list-li">NONE</li>
                    <li class="blockchain-property-item-list-li">VOTERS</li>
                    <li class="blockchain-property-item-list-li">QUORUM</li>
                    <li class="blockchain-property-item-list-li">VOTING</li>
                    <li class="blockchain-property-item-list-li">REVEAL</li>
                    <li class="blockchain-property-item-list-li">FEATURED</li>
                    <li class="blockchain-property-item-list-li">DELISTED</li>
                    <li class="blockchain-property-item-list-li">verifier</li>
                    <li class="blockchain-property-item-list-li">VERIFIED</li>
                    <li class="blockchain-property-item-list-li">BLACKLISTED</li>
                </ul>
            </fieldset>
            <fieldset class="blockchain-property-item">
                <legend>relations</legend>
                <ul class="blockchain-property-item-list">
                    <li class="blockchain-property-item-list-li">addItem</li>
                    <li class="blockchain-property-item-list-li">purchase</li>
                    <li class="blockchain-property-item-list-li">withdraw</li>
                    <li class="blockchain-property-item-list-li">deposit</li>
                    <li class="blockchain-property-item-list-li">voteCommit</li>
                    <li class="blockchain-property-item-list-li">voteReveal</li>
                    <li class="blockchain-property-item-list-li">setStatus</li>
                </ul>
            </fieldset>
        </fieldset>
    </div>
</template>