@import "./docs/css/interface.scss";
@import "./docs/css/fonts.scss";
@import "./docs/css/media.scss";
:host{
  width: 100%;
  box-sizing: border-box;
}
.wrapper {
  @include display(row, nowrap, space-evenly, stretch, stretch);
}
.blockchain-property {
  @include display(row, wrap, space-evenly, stretch, stretch);
  flex-grow: 1;
  padding: 0 0.4vw 0.4vw;

  &-item {
    flex-grow: 1;
    //min-width: 50%;
    box-sizing: border-box;

    &-list {
      padding-left: 3.2vw;

      &-li {
        @include fonts(7);
      }
    }
  }
}