<template>
    <div class="blockchain-property">
        <fieldset class="blockchain-property-item">
            <legend>Владельцы</legend>
            <ul class="blockchain-property-item-list">
                <li class="blockchain-property-item-list-li">1</li>
                <li class="blockchain-property-item-list-li">2</li>
                <li class="blockchain-property-item-list-li">3</li>
                <li class="blockchain-property-item-list-li">4</li>
                <li class="blockchain-property-item-list-li">5</li>
            </ul>
        </fieldset>
        <fieldset class="blockchain-property-item">
            <legend>Средства</legend>
            <ul class="blockchain-property-item-list">
                <li class="blockchain-property-item-list-li">1</li>
                <li class="blockchain-property-item-list-li">2</li>
                <li class="blockchain-property-item-list-li">3</li>
                <li class="blockchain-property-item-list-li">4</li>
                <li class="blockchain-property-item-list-li">5</li>
            </ul>
        </fieldset>
    </div>
</template>