@import "./scss/interface.scss";
@import "./scss/fonts.scss";
@import "./scss/media.scss";

.blockchain-property {
  @include display(row, nowrap, space-evenly, center, stretch);

  &-item {
    flex-grow: 1;
    min-width: 50%;
    box-sizing: border-box;

    &-list {
      &-li {

      }
    }
  }
}