<template>
    <div class="bus">
        <div class="bus-account">
            <label class="bus-customer-label" for="value-customer">
                create account
                <input class="bus-customer-input" id="value-customer" type="input">
            </label>
            <label class="bus-customer-label" for="data-customer">
                create user
                <input class="bus-customer-input" id="data-customer" type="input">
            </label>
        </div>
    </div>
</template>