<template>
    <form class="bus">
        <fieldset class="bus-customer">
            <legend>customer</legend>
            <label class="bus-customer-label" for="value-customer">
                value
                <input class="bus-customer-input" id="value-customer" type="input">
            </label>
            <label class="bus-customer-label" for="data-customer">
                data
                <input class="bus-customer-input" id="data-customer" type="input">
            </label>
        </fieldset>
        <fieldset class="bus-executor">
            <legend>executor</legend>
            <label class="bus-executor-label" for="value-executor">
                value
                <input class="bus-executor-input" id="value-executor" type="input">
            </label>
            <label class="bus-executor-label" for="data-executor">
                data
                <input class="bus-executor-input" id="data-executor" type="input">
            </label>
        </fieldset>
    </form>
</template>