<template>
    <div class="bus">
        <div class="bus-account">
            <label class="bus-customer-label" for="value-customer">
                out
                <input class="bus-customer-input" id="value-customer" type="input">
            </label>
            <label class="bus-customer-label" for="contract-customer">
                contract
                <input class="bus-customer-input" id="contract-customer" type="input">
            </label>
            <label class="bus-customer-label" for="io-customer">
                wi/de
                <input class="bus-customer-input" id="io-customer" type="input">
            </label>
        </div>
    </div>
</template>