<template>
    <div class="design-property-layout">
        <div class="design-property-layout-main">
            <slot name="layout-main"></slot>
            <slot name="Zababurin Sergey       email: s.zababurin.v@gmail.com       pho"></slot>
            <div class="design-property-layout-main-elements-dev">
                <select>
                    <option>text</option>
                    <option>link</option>
                </select>
                <label for="homepage">
                    <slot name="DEV"></slot>
                    <input
                        id="homepage"
                        type="submit"
                        value="Go to my link location"
                        onclick="window.location='/my/link/location';"
                    />
                </label>

                <p><a href="http://localhost:2222/"><slot name="DEV"></slot></a></p>
            </div>
            <div class="design-property-layout-main-elements-prod">
                <slot name="PROD"></slot>
            </div>
            <div class="design-property-layout-main-elements-lab">
                <slot name="LAB"></slot>
            </div>
            <!--            <slot name="HELP"></slot>-->
            <!--            <slot name="ERASE"></slot>-->
            <!--            <slot name="|"></slot>-->
            <slot name="Web"></slot>
            <slot name="Dashboard"></slot>
            <slot name="line"></slot>
            <slot name="ORG"></slot>
            <slot name="red"></slot>
            <slot name="green"></slot>
            <slot name="Localhost"></slot>
            <slot name="yellow"></slot>
            <slot name="LAB"></slot>
            <style>
                .design-property-layout-main {
                    height: 100%;
                    width: 100%;
                    position: relative;
                }
            </style>
        </div>
</template>
