<template>
    <section id="message">
            <div id="smile"><img src="/static/html/components/telegram-message/images/smile_svg.svg"></div>
        <div id="input">
            <textarea  class="message" placeholder="message"></textarea>
            <div id="command">/</div>
            <div id="attach"><img src="/static/html/components/telegram-message/images/attach_svg.svg"></div>
        </div>
            <div id="microphone"><img class="microphone" src="/static/html/components/telegram-message/images/microphone_svg.svg"></div>
    </section>
</template>
