<template>
    <section id="manager-menu">
        <div id="setup">
            <div class="setup">
                <h1>Select your name.</h1>
                <div id="player1Input" class="player-input">
                    <label for="player1name">
                        <p>Your Name</p>
                        <div class="option">
                            <input type="text" id="player1name" title="Player name" maxlength="16" placeholder="Enter Your Name" />
                            <select id="player1color" title="Player color">
                                <option style="color: aqua;">Aqua</option>
                                <option style="color: black;">Black</option>
                                <option style="color: blue;">Blue</option>
                                <option style="color: fuchsia;">Fuchsia</option>
                                <option style="color: gray;">Gray</option>
                                <option style="color: green;">Green</option>
                                <option style="color: lime;">Lime</option>
                                <option style="color: maroon;">Maroon</option>
                                <option style="color: navy;">Navy</option>
                                <option style="color: olive;">Olive</option>
                                <option style="color: orange;">Orange</option>
                                <option style="color: purple;">Purple</option>
                                <option selected="selected" style="color: red;">Red</option>
                                <option style="color: silver;">Silver</option>
                                <option style="color: teal;">Teal</option>
                                <option style="color: yellow;">Yellow</option>
                            </select>
                        </div>
                    </label>
                </div>

                <h2>Select number of players.</h2>
                <select id="playernumber">
                    <option>2 Player</option>
                    <option>3 Player</option>
                    <option selected="selected">4 Player</option>
                    <option>5 Player</option>
                    <option>6 Player</option>
                    <option>7 Player</option>
                    <option>8 Player</option>
                </select>
            </div>
            <div class="options">
                <div id="player2input" class="player-input">
                    <label for="player2name">
                        <p>Player 2</p>
                        <div class="option">
                            <input type="text" id="player2name" title="Player name" maxlength="16" placeholder="Player 2" />
                            <select id="player2color" title="Player color">
                                <option style="color: aqua;">Aqua</option>
                                <option style="color: black;">Black</option>
                                <option selected="selected" style="color: blue;">Blue</option>
                                <option style="color: fuchsia;">Fuchsia</option>
                                <option style="color: gray;">Gray</option>
                                <option style="color: green;">Green</option>
                                <option style="color: lime;">Lime</option>
                                <option style="color: maroon;">Maroon</option>
                                <option style="color: navy;">Navy</option>
                                <option style="color: olive;">Olive</option>
                                <option style="color: orange;">Orange</option>
                                <option style="color: purple;">Purple</option>
                                <option style="color: red;">Red</option>
                                <option style="color: silver;">Silver</option>
                                <option style="color: teal;">Teal</option>
                                <option style="color: yellow;">Yellow</option>
                            </select>
                            <select id="player2ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player2name').disabled = this.value !== '0';">
                                <option value="0" selected="selected">Human</option>
                                <option value="1">AI (Test)</option>
                            </select>
                        </div>
                    </label>
                </div>
                <div id="player3input" class="player-input">
                    <label for="player3name">
                        <p>Player 3</p>
                        <div class="option">
                            <input type="text" id="player3name" title="Player name" maxlength="16" placeholder="Player 3" />
                            <select id="player3color" title="Player color">
                                <option style="color: aqua;">Aqua</option>
                                <option style="color: black;">Black</option>
                                <option selected="selected" style="color: blue;">Blue</option>
                                <option style="color: fuchsia;">Fuchsia</option>
                                <option style="color: gray;">Gray</option>
                                <option style="color: green;">Green</option>
                                <option style="color: lime;">Lime</option>
                                <option style="color: maroon;">Maroon</option>
                                <option style="color: navy;">Navy</option>
                                <option style="color: olive;">Olive</option>
                                <option style="color: orange;">Orange</option>
                                <option style="color: purple;">Purple</option>
                                <option style="color: red;">Red</option>
                                <option style="color: silver;">Silver</option>
                                <option style="color: teal;">Teal</option>
                                <option style="color: yellow;">Yellow</option>
                            </select>
                            <select id="player3ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player2name').disabled = this.value !== '0';">
                                <option value="0" selected="selected">Human</option>
                                <option value="1">AI (Test)</option>
                            </select>
                        </div>
                    </label>
                </div>
                <div id="player4input" class="player-input">
                    <label for="player4name">
                        <p>Player 4</p>
                        <div class="option">
                            <input type="text" id="player4name" title="Player name" maxlength="16" placeholder="Player 4" />
                            <select id="player4color" title="Player color">
                                <option style="color: aqua;">Aqua</option>
                                <option style="color: black;">Black</option>
                                <option selected="selected" style="color: blue;">Blue</option>
                                <option style="color: fuchsia;">Fuchsia</option>
                                <option style="color: gray;">Gray</option>
                                <option style="color: green;">Green</option>
                                <option style="color: lime;">Lime</option>
                                <option style="color: maroon;">Maroon</option>
                                <option style="color: navy;">Navy</option>
                                <option style="color: olive;">Olive</option>
                                <option style="color: orange;">Orange</option>
                                <option style="color: purple;">Purple</option>
                                <option style="color: red;">Red</option>
                                <option style="color: silver;">Silver</option>
                                <option style="color: teal;">Teal</option>
                                <option style="color: yellow;">Yellow</option>
                            </select>
                            <select id="player4ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player2name').disabled = this.value !== '0';">
                                <option value="0" selected="selected">Human</option>
                                <option value="1">AI (Test)</option>
                            </select>
                        </div>
                    </label>
                </div>
                <div id="player5input" class="player-input">
                    <label for="player5name">
                        <p>Player 5</p>
                        <div class="option">
                            <input type="text" id="player5name" title="Player name" maxlength="16" placeholder="Player 5" />
                            <select id="player5color" title="Player color">
                                <option style="color: aqua;">Aqua</option>
                                <option style="color: black;">Black</option>
                                <option selected="selected" style="color: blue;">Blue</option>
                                <option style="color: fuchsia;">Fuchsia</option>
                                <option style="color: gray;">Gray</option>
                                <option style="color: green;">Green</option>
                                <option style="color: lime;">Lime</option>
                                <option style="color: maroon;">Maroon</option>
                                <option style="color: navy;">Navy</option>
                                <option style="color: olive;">Olive</option>
                                <option style="color: orange;">Orange</option>
                                <option style="color: purple;">Purple</option>
                                <option style="color: red;">Red</option>
                                <option style="color: silver;">Silver</option>
                                <option style="color: teal;">Teal</option>
                                <option style="color: yellow;">Yellow</option>
                            </select>
                            <select id="player5ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player2name').disabled = this.value !== '0';">
                                <option value="0" selected="selected">Human</option>
                                <option value="1">AI (Test)</option>
                            </select>
                        </div>
                    </label>
                </div>
                <div id="player6input" class="player-input">
                    <label for="player6name">
                        <p>Player 6</p>
                        <div class="option">
                            <input type="text" id="player6name" title="Player name" maxlength="16" placeholder="Player 6" />
                            <select id="player6color" title="Player color">
                                <option style="color: aqua;">Aqua</option>
                                <option style="color: black;">Black</option>
                                <option selected="selected" style="color: blue;">Blue</option>
                                <option style="color: fuchsia;">Fuchsia</option>
                                <option style="color: gray;">Gray</option>
                                <option style="color: green;">Green</option>
                                <option style="color: lime;">Lime</option>
                                <option style="color: maroon;">Maroon</option>
                                <option style="color: navy;">Navy</option>
                                <option style="color: olive;">Olive</option>
                                <option style="color: orange;">Orange</option>
                                <option style="color: purple;">Purple</option>
                                <option style="color: red;">Red</option>
                                <option style="color: silver;">Silver</option>
                                <option style="color: teal;">Teal</option>
                                <option style="color: yellow;">Yellow</option>
                            </select>
                            <select id="player6ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player2name').disabled = this.value !== '0';">
                                <option value="0" selected="selected">Human</option>
                                <option value="1">AI (Test)</option>
                            </select>
                        </div>
                    </label>
                </div>
                <div id="player7input" class="player-input">
                    <label for="player7name">
                        <p>Player 7</p>
                        <div class="option">
                            <input type="text" id="player7name" title="Player name" maxlength="16" placeholder="Player 7" />
                            <select id="player7color" title="Player color">
                                <option style="color: aqua;">Aqua</option>
                                <option style="color: black;">Black</option>
                                <option selected="selected" style="color: blue;">Blue</option>
                                <option style="color: fuchsia;">Fuchsia</option>
                                <option style="color: gray;">Gray</option>
                                <option style="color: green;">Green</option>
                                <option style="color: lime;">Lime</option>
                                <option style="color: maroon;">Maroon</option>
                                <option style="color: navy;">Navy</option>
                                <option style="color: olive;">Olive</option>
                                <option style="color: orange;">Orange</option>
                                <option style="color: purple;">Purple</option>
                                <option style="color: red;">Red</option>
                                <option style="color: silver;">Silver</option>
                                <option style="color: teal;">Teal</option>
                                <option style="color: yellow;">Yellow</option>
                            </select>
                            <select id="player7ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player2name').disabled = this.value !== '0';">
                                <option value="0" selected="selected">Human</option>
                                <option value="1">AI (Test)</option>
                            </select>
                        </div>
                    </label>
                </div>
                <div id="player8input" class="player-input">
                    <label for="player8name">
                        <p>Player 8</p>
                        <div class="option">
                            <input type="text" id="player8name" title="Player name" maxlength="16" placeholder="Player 8" />
                            <select id="player8color" title="Player color">
                                <option style="color: aqua;">Aqua</option>
                                <option style="color: black;">Black</option>
                                <option selected="selected" style="color: blue;">Blue</option>
                                <option style="color: fuchsia;">Fuchsia</option>
                                <option style="color: gray;">Gray</option>
                                <option style="color: green;">Green</option>
                                <option style="color: lime;">Lime</option>
                                <option style="color: maroon;">Maroon</option>
                                <option style="color: navy;">Navy</option>
                                <option style="color: olive;">Olive</option>
                                <option style="color: orange;">Orange</option>
                                <option style="color: purple;">Purple</option>
                                <option style="color: red;">Red</option>
                                <option style="color: silver;">Silver</option>
                                <option style="color: teal;">Teal</option>
                                <option style="color: yellow;">Yellow</option>
                            </select>
                            <select id="player8ai" title="Choose whether this player is controled by a human or by the computer." onclick="document.getElementById('player2name').disabled = this.value !== '0';">
                                <option value="0" selected="selected">Human</option>
                                <option value="1">AI (Test)</option>
                            </select>
                        </div>
                    </label>
                </div>
            </div>
            <div class="playGame">
                <input id="playGame" type="button" value="Start Game"  title="Begin playing." />
            </div>
        </div>
    </section>
</template>
