<template>
    <details>
        <summary></summary>
        <section>
            <div class="gallery-item">
                <img class="lazy" src="/static/html/components/lacerta-gallery/images/empty.jpeg" data-src="05YeUWDjgIU.jpg" data-srcset="05YeUWDjgIU.jpg" alt="I'm an image!">
            </div>
            <div class="gallery-item">
                <img class="lazy" src="/static/html/components/lacerta-gallery/images/empty.jpeg" data-src="05YeUWDjgIU.jpg" data-srcset="05YeUWDjgIU.jpg" alt="I'm an image!">
            </div>
            <div class="gallery-item">
                <img class="lazy" src="/static/html/components/lacerta-gallery/images/empty.jpeg" data-src="05YeUWDjgIU.jpg" data-srcset="05YeUWDjgIU.jpg" alt="I'm an image!">
            </div>
            <div class="gallery-item">
                <img class="lazy" src="/static/html/components/lacerta-gallery/images/empty.jpeg" data-src="05YeUWDjgIU.jpg" data-srcset="05YeUWDjgIU.jpg" alt="I'm an image!">
            </div>
            <div class="gallery-item">
                <img class="lazy" src="/static/html/components/lacerta-gallery/images/empty.jpeg" data-src="05YeUWDjgIU.jpg" data-srcset="05YeUWDjgIU.jpg" alt="I'm an image!">
            </div>
            <div class="gallery-item">
                <img class="lazy" src="/static/html/components/lacerta-gallery/images/empty.jpeg" data-src="05YeUWDjgIU.jpg" data-srcset="05YeUWDjgIU.jpg" alt="I'm an image!">
            </div>
            <div class="gallery-item">
                <img class="lazy" src="/static/html/components/lacerta-gallery/images/empty.jpeg" data-src="05YeUWDjgIU.jpg" data-srcset="05YeUWDjgIU.jpg" alt="I'm an image!">
            </div>
            <div class="gallery-item">
                <img class="lazy" src="/static/html/components/lacerta-gallery/images/empty.jpeg" data-src="05YeUWDjgIU.jpg" data-srcset="05YeUWDjgIU.jpg" alt="I'm an image!">
            </div>
        </section>
    </details>

</template>
