p {
    margin:0;
}
p:first-letter {
    margin-left: -0.06em;
}
.main-footer {
    width: 100%;
    position: relative;
    height:4.392386530014641vw;
}
.main-footer-background {
    position:absolute;
    width:100%;
    top:0vw;
    left:0vw;
    z-index:-1;
}
.main-footer-contacts {
    white-space:pre-wrap;
    font-family:GothamPro, serif;
    font-size:1.076158940397351vw;
    color: rgba(1.4305500000000002,6.0792,7.6959,1);
    position:absolute;
    top:1.5373352855051243vw;
    left:15.66617862371889vw;
}
