<template id ="varan-blockchain">
    <div class="container">
        <h1>Blockchain generator</h1>
        <input type="text" class="form-control" id="searchField"    placeholder="Enter the data...">
        <a type="submit" class="btn btn-primary" id="inputData" >
            Get a block
        </a>
        <a type="submit" class="btn btn-primary" id="Restart" >
            Restart
        </a>
        <div id="outputField"></div>
        <div id="footer">
            <p>By Nikolay Milya &copy; 2017. All Rights Reserved</p>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.5.0/sha256.min.js'></script>
</template>
