@import "./scss/interface.scss";
@import "./scss/fonts.scss";
@import "./scss/media.scss";

:host{
  width: 100%;
  box-sizing: border-box;
}

@mixin label() {
  @include display(column, nowrap, space-between, center, stretch);
  input{
    font-family: Roboto, serif;
    @include fonts(6);
    box-sizing: border-box;
    width: 100%;
    align-self: center;
    box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
    border: .1vw solid #acb2b5;
    margin-bottom: 1vw;
    justify-content: center;
  }
  div.description{
    position: relative;
    width: 100%;
    textarea{
      resize:none;
      width: 100%;
      height: 12vw;
      box-sizing: border-box;
    }
    span#symbol{
      position: absolute;
      top: -1.7vw;
      right: 1vw;
      opacity: 0.4;
    }
  }
  button{
    @include border();
    font-family: Roboto, serif;
    @include fonts(8);
    margin: 1vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
    box-sizing: border-box;
    padding: 2vw;
    text-align: center;
    text-align: -webkit-center;
    align-items: center;
  }
}

@mixin p(){
  @include border();
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 2vw;
  text-align: center;
  font-family: Roboto, serif;
  @include fonts(8);
}

@mixin border() {
  //width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5vw;
}
:host{
  width: 100%;
  margin: auto;
}
section#waves-game{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 1vw;
  div#info{
    @include display(column, nowrap, flex-start, center, stretch);
    width: 47.5vw;
    label[for="name"]{
      @include label();
      height: 100%;
      justify-content: space-between;
      p.preview{
        @include p();
        margin-bottom: 2vw;
        margin-top: 0;
        width: 100%;
      }
      input#name{
        border: none;
        min-height: 4vw;
        @include border();
        outline:none;
        padding: 1vw;
        margin-bottom: 2vw;
        &:focus {
          border-color: grey;
          border-radius: 0.5vw;
        }
      }
      textarea.description{
        border: none;
        @include border();
        text-align-last: left;
        padding: 1vw;
        cursor: text;
        outline:none;
      }
      button.name{
        border: none;
        cursor: pointer;
        margin-bottom: 0;
        margin-top: 1vw;
        width: 100%;
      }
    }

    div#content{
      display: flex;
      width: 100%;
      box-sizing: border-box;
      padding: 1vw;
      justify-content: flex-start;
      flex-direction: column;
      div.content{
        white-space: pre-wrap;
        font-family: Roboto, serif;
        @include fonts(1);
      }
    }
  }

  div#player{
    margin-left: 0.5vw;
    @include display(column, nowrap, flex-start, start, stretch);
    flex-grow: 1;
    p.player{
      @include p();
      margin: 0;
      width: 100%;
      min-height: 6.7vw;
    }
    @include border();
    div#container{
      @include display(row, nowrap, flex-start, start, stretch);
      height: 100%;

      div#player-game{
        padding: 1vw;
        div.player-game{
          display: flex;
          margin: auto;
          width: 15vw;
          height: 15vw;
          background-color: #31282852;
          border-radius: 0.5vw;
          overflow: overlay;
          justify-content: center;
          img.player{
            width: auto;
            height: 100%;
          }
        }

        div.game-info{
          ul.game-info{
            text-align-last: left;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-self: start;
            box-sizing: border-box;
            padding: 1vw;
            margin: 0;
            li.game-info{
              font-family: Roboto, serif;
              @include fonts(4);
              list-style-type: none;
            }
          }
        }
      }

      div.player-external{
        background-color: #31282852;
        @include display(column, nowrap, flex-start, center, stretch);
        flex-grow: 1;
        box-sizing: border-box;
        margin: 1vw;
        border-radius: 0.5vw;
        ul.player-game-info{
          text-align-last: left;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-self: start;
          box-sizing: border-box;
          padding: 1vw;
          margin: 0;
          li.player-game-info{
            font-family: Roboto, serif;
            @include fonts(3);
            list-style-type: none;
            text-align-last: left;
            margin-bottom: 1vw;
          }
          li.id{
            @include fonts(3);
          }
        }
        ul.active{
          width: 100%;
          height: 100%;
          li.active{
            font-family: Roboto, serif;
            @include fonts(8);
          }
        }
      }
    }
  }
}